Topic: Challenge Set 9 <br>
Subject: SQL <br>
Date: 10/21/2017 <br>
Name: Kenny Leung <br>
Worked with: -- <br>
Location: sf17_ds8/student_submissions/challenges/09-sql/leung_kenny/challenge_set_9_part_ii_kenny.ipynb

In [1]:
from sqlalchemy import create_engine
import pandas as pd
cnx = create_engine('postgresql://postgres@54.202.194.155:5432/postgres')

# Question 1

In [6]:
pd.read_sql_query('''SELECT yearid, teamid, SUM(salary) 
                    FROM salaries 
                    GROUP BY yearid, teamid 
                    ORDER BY yearid, teamid''',cnx)

     yearid teamid          sum
0      1985    ATL   14807000.0
1      1985    BAL   11560712.0
2      1985    BOS   10897560.0
3      1985    CAL   14427894.0
4      1985    CHA    9846178.0
5      1985    CHN   12702917.0
6      1985    CIN    8359917.0
7      1985    CLE    6551666.0
8      1985    DET   10348143.0
9      1985    HOU    9993051.0
10     1985    KCA    9321179.0
11     1985    LAN   10967917.0
12     1985    MIN    5764821.0
13     1985    ML4   11284107.0
14     1985    MON    9470166.0
15     1985    NYA   14238204.0
16     1985    NYN   10834762.0
17     1985    OAK    9058606.0
18     1985    PHI   10124966.0
19     1985    PIT    9227500.0
20     1985    SDN   11036583.0
21     1985    SEA    4613000.0
22     1985    SFN    8221714.0
23     1985    SLN   11817083.0
24     1985    TEX    7676500.0
25     1985    TOR    8812550.0
26     1986    ATL   17102786.0
27     1986    BAL   13001258.0
28     1986    BOS   14402239.0
29     1986    CAL   14427258.0
..      ...    ...          ...
798    2013    ARI   90132000.0
799    2013    ATL   87871525.0
800    2013    BAL   84393333.0
801    2013    BOS  151530000.0
802    2013    CHA  120065277.0
803    2013    CHN  100567726.0
804    2013    CIN  106404462.0
805    2013    CLE   75771800.0
806    2013    COL   74409071.0
807    2013    DET  145989500.0
808    2013    HOU   17890700.0
809    2013    KCA   80091725.0
810    2013    LAA  124174750.0
811    2013    LAN  223362196.0
812    2013    MIA   33601900.0
813    2013    MIL   76947033.0
814    2013    MIN   75337500.0
815    2013    NYA  231978886.0
816    2013    NYN   49448346.0
817    2013    OAK   60132500.0
818    2013    PHI  169863189.0
819    2013    PIT   77062000.0
820    2013    SDN   65585500.0
821    2013    SEA   74005043.0
822    2013    SFN  140180334.0
823    2013    SLN   92260110.0
824    2013    TBA   52955272.0
825    2013    TEX  112522600.0
826    2013    TOR  126288100.0
827    2013    WAS  113703270.0

[828 rows x 3 columns]

# Question 2

In [11]:
pd.read_sql_query('''SELECT playerid, MIN(yearid), MAX(yearid) 
                    FROM Fielding 
                    GROUP BY playerid''',cnx)

        playerid   min   max
0      gagnied01  1914  1915
1      ramospe01  1955  1970
2      putkolu01  2012  2013
3      boyerke01  1955  1969
4      dillibo01  1946  1951
5      jeterde01  1995  2013
6      sperrst01  1936  1938
7      vidrojo01  1997  2008
8      izturce01  2001  2013
9      clarkda06  2007  2007
10     mcglike01  1999  2000
11     hendero01  1994  1998
12     guantce01  1982  1990
13     smithto04  1973  1977
14     rickedi01  1959  1959
15     smithbi03  1886  1886
16     pitkoal01  1938  1939
17     webstle01  1989  2000
18      coledi01  1951  1957
19     starkma01  1987  1990
20     wilshwh01  1934  1936
21     patteda02  1968  1974
22     ventuvi01  1945  1945
23     jonesja03  1941  1948
24     hallmbi01  1888  1903
25     daviswi02  1960  1979
26     howariv01  1914  1917
27     asselbr01  1976  1981
28     trlicri01  1992  1997
29     lindsjo01  2010  2010
...          ...   ...   ...
17951  ulricdu01  1925  1927
17952   dealch01  1912  1921
17953  dunleja01  1903  1905
17954  mosolji01  1929  1933
17955  casanpa01  1965  1974
17956  esmonji01  1911  1915
17957  giustda01  1962  1977
17958  larkiba01  1986  2004
17959  catonho01  1917  1920
17960  chilepe01  1899  1900
17961  chrisru01  1942  1948
17962  bentlcy01  1872  1872
17963  mcguijo01  1876  1884
17964  wolfebr01  2007  2009
17965  stuarma01  1949  1954
17966  hestela01  1901  1901
17967  kennebi01  1942  1947
17968  dolanto01  1879  1888
17969  brainda01  1901  1908
17970  drucklo01  1909  1912
17971  mcgowbe01  1922  1937
17972  filipst01  1944  1948
17973  odonnjo01  1884  1884
17974  caithge01  1934  1934
17975  hortoel01  1896  1898
17976  rebelar01  1938  1945
17977  craigpe01  1964  1966
17978  tayloaa01  2002  2004
17979  encarlu01  1990  1990
17980   longje01  1964  1964

[17981 rows x 3 columns]

# Question 3

In [14]:
pd.read_sql_query('''SELECT playerid, COUNT(yearid) 
                    FROM allstarfull 
                    GROUP BY playerid''',cnx)

       playerid  count
0     ramospe01      1
1     pinielo01      1
2     mintogr01      1
3     contrjo01      1
4     boyerke01     11
5     harreke01      1
6     bucknbi01      1
7     andruel01      2
8     dillibo01      1
9     dierkla01      2
10    nelsoje01      1
11     nealch01      3
12    jeterde01     13
13    urbinug01      2
14    vidrojo01      3
15    izturce01      1
16    vernomi01      7
17    charlno01      1
18    muelldo01      2
19    arroybr01      1
20    fernajo02      1
21    camermi01      1
22    reuscri01      3
23    bumbral01      1
24    pencehu01      2
25    reussje01      2
26    hickmji02      1
27    sorenla01      1
28     sheasp01      1
29      mayle01      3
...         ...    ...
1646  drabedo01      1
1647  dunstsh01      2
1648  mcdanli01      2
1649   kileda01      3
1650  rhodear01      1
1651  estrach01      2
1652  rojasco01      5
1653  puckeki01     10
1654   yosted01      1
1655  bakerge02      1
1656  clemero01     15
1657  joynewa01      1
1658  palmeji01      6
1659  manushe01      1
1660  gromest01      1
1661  heganji01      5
1662  avilabo01      3
1663  grababi01      1
1664   webbbr01      3
1665  munsoth01      7
1666  duchsju01      2
1667  hartnga01      6
1668  colemjo04      1
1669  pafkoan01      5
1670  helmsto01      2
1671  bonesri01      1
1672  lankfra01      1
1673  lonboji01      1
1674  sievero01      5
1675  cabremi01      8

[1676 rows x 2 columns]

# Question 4

In [32]:
pd.read_sql_query('''SELECT schoolid, COUNT(schoolid) 
                    FROM College 
                    GROUP BY schoolid''',cnx)

        schoolid  count
0       davidson     13
1      norwichvt      2
2       nebraska     32
3       nebomaha      1
4          drake      2
5      randmacon      1
6        colbyme      5
7     johnbrwnar      1
8    daviselkins      1
9        weberst      1
10          wake     34
11        swmost     14
12    sfloridacc      1
13          utep      1
14       harvard     16
15       biolaca      2
16       ucriver     13
17        baylor     38
18          elon     10
19      winthrop      3
20      millikin      6
21         valpo      6
22    shenandoah      1
23       harding      1
24    quinnipiac      1
25       texasam     50
26        xavier      5
27     olivetnaz      2
28       lasalle      3
29       ursinus      4
..           ...    ...
683   clrmuddscr      1
684   elizbthtwn      2
685    presbytrn      5
686   nmhighland      1
687   pepperdine     30
688      georgia     31
689    mtunionoh      1
690    roanokeva      4
691   kennesawst      5
692       towson      2
693     grcanyon     13
694     bartonnc      1
695        maine     19
696     oklahoma     61
697   portlandst      4
698         sfcc      1
699      clarion      1
700   albrightpa      7
701     mcdaniel      3
702   virginiast      2
703     forthays      1
704      wyoming      7
705      alabama     62
706      stetson      8
707          uab      2
708   bridgwtrst      1
709   seoklahoma      7
710    mtvernnaz      2
711   oglethrpga      9
712       okcity      7

[713 rows x 2 columns]

# Question 5

In [76]:
pd.read_sql_query('''SELECT playerID, 1 + EXTRACT(YEAR FROM DATE(finalgame)) - EXTRACT(YEAR FROM DATE(debut)) AS years 
                    FROM Master WHERE (EXTRACT(YEAR FROM DATE(finalgame)) - EXTRACT(YEAR FROM DATE(debut))) > 0 
                    ORDER BY years DESC LIMIT 10;''',cnx)

    playerid  years
0  altroni01   36.0
1  orourji01   33.0
2  minosmi01   32.0
3  olearch01   31.0
4  lathaar01   30.0
5  mcguide01   29.0
6   ryanno01   28.0
7  jennihu01   28.0
8  streega01   28.0
9  eversjo01   28.0

# Question 6

In [70]:
pd.read_sql_query('''SELECT COUNT(EXTRACT(MONTH FROM DATE(debut))) 
                    FROM Master 
                    GROUP BY EXTRACT(MONTH FROM DATE(debut))''',cnx)

   count
0      0
1   1943
2   2230
3   5061
4   4711
5    308
6   1978
7   1893
8     41

# Question 7

In [80]:
pd.read_sql_query('''SELECT * FROM Master JOIN Salaries ON Master.playerID = Salaries.playerID''',cnx)

,playerid,birthyear,birthmonth,birthday,birthcountry,birthstate,birthcity,deathyear,deathmonth,deathday,...,throws,debut,finalgame,retroid,bbrefid,yearid,teamid,lgid,playerid,salary
0,murraed02,1956,2,24,USA,CA,Los Angeles,None,None,None,...,R,1977-04-07,1997-09-20,murre001,murraed02,1985,BAL,AL,murraed02,1472819.0
1,lynnfr01,1952,2,3,USA,IL,Chicago,None,None,None,...,L,1974-09-05,1990-10-03,lynnf001,lynnfr01,1985,BAL,AL,lynnfr01,1090000.0
2,ripkeca01,1960,8,24,USA,MD,Havre de Grace,None,None,None,...,R,1981-08-10,2001-10-06,ripkc001,ripkeca01,1985,BAL,AL,ripkeca01,800000.0
3,lacyle01,1948,4,10,USA,TX,Longview,None,None,None,...,R,1972-06-30,1987-10-03,lacyl001,lacyle01,1985,BAL,AL,lacyle01,725000.0
4,flanami01,1951,12,16,USA,NH,Manchester,2011,8,24,...,L,1975-09-05,1992-09-27,flanm001,flanami01,1985,BAL,AL,flanami01,641667.0
5,boddimi01,1957,8,23,USA,IA,Cedar Rapids,None,None,None,...,R,1980-10-04,1993-06-13,boddm001,boddimi01,1985,BAL,AL,boddimi01,625000.0
6,stewasa01,1954,10,28,USA,NC,Asheville,None,None,None,...,R,1978-09-01,1987-10-03,stews001,stewasa01,1985,BAL,AL,stewasa01,581250.0
7,martide01,1954,5,14,Nicaragua,None,Granada,None,None,None,...,R,1976-09-14,1998-09-27,martd001,martide01,1985,BAL,AL,martide01,560000.0
8,roeniga01,1954,12,5,USA,CA,Covina,None,None,None,...,R,1976-06-08,1988-07-24,roeng001,roeniga01,1985,BAL,AL,roeniga01,558333.0
9,mcgresc01,1954,1,18,USA,CA,Inglewood,None,None,None,...,L,1976-09-19,1988-04-27,mcgrs001,mcgresc01,1985,BAL,AL,mcgresc01,547143.0
10,dempsri01,1949,9,13,USA,TN,Fayetteville,None,None,None,...,R,1969-09-23,1992-09-27,dempr001,dempsri01,1985,BAL,AL,dempsri01,512500.0
11,grosswa01,1952,1,14,USA,CA,Riverside,None,None,None,...,R,1976-08-21,1986-10-01,grosw001,grosswa01,1985,BAL,AL,grosswa01,483333.0
12,dauerri01,1952,7,27,USA,CA,San Bernardino,None,None,None,...,R,1976-09-11,1985-09-29,dauer001,dauerri01,1985,BAL,AL,dauerri01,480000.0
13,fordda01,1952,5,19,USA,CA,Los Angeles,None,None,None,...,R,1975-04-12,1985-05-31,fordd001,fordda01,1985,BAL,AL,fordda01,450000.0
14,martiti01,1950,5,31,USA,CO,La Junta,None,None,None,...,L,1974-08-09,1988-04-18,martt001,martiti01,1985,BAL,AL,martiti01,440000.0
15,davisst02,1961,12,26,USA,TX,Dallas,None,None,None,...,R,1982-04-29,1994-08-11,davis001,davisst02,1985,BAL,AL,davisst02,437500.0
16,dwyerji01,1950,6,3,USA,IL,Evergreen Park,None,None,None,...,L,1973-06-10,1990-06-21,dwyej001,dwyerji01,1985,BAL,AL,dwyerji01,375000.0
17,nolanjo01,1951,5,12,USA,MO,St. Louis,None,None,None,...,R,1972-09-21,1985-06-25,nolaj001,nolanjo01,1985,BAL,AL,nolanjo01,341667.0
18,shelbjo01,1958,2,23,USA,KY,Lexington,None,None,None,...,R,1981-09-15,1991-08-11,shelj001,shelbjo01,1985,BAL,AL,shelbjo01,130000.0
19,rayfofl01,1957,7,27,USA,TN,Memphis,None,None,None,...,R,1980-04-17,1987-09-16,rayff001,rayfofl01,1985,BAL,AL,rayfofl01,128500.0
20,youngmi01,1960,3,20,USA,CA,Oakland,None,None,None,...,R,1982-09-14,1989-09-30,younm002,youngmi01,1985,BAL,AL,youngmi01,121000.0
21,sheetla01,1959,12,6,USA,VA,Staunton,None,None,None,...,R,1984-09-18,1993-10-01,sheel001,sheetla01,1985,BAL,AL,sheetla01,60000.0
22,stanlbo01,1954,11,10,USA,ME,Portland,None,None,None,...,R,1977-04-16,1989-09-05,stanb001,stanlbo01,1985,BOS,AL,stanlbo01,1075000.0
23,boggswa01,1958,6,15,USA,NE,Omaha,None,None,None,...,R,1982-04-10,1999-08-27,boggw001,boggswa01,1985,BOS,AL,boggswa01,1000000.0
24,armasto01,1953,7,2,Venezuela,Anzoategui,Puerto Piritu,None,None,None,...,R,1976-09-06,1989-10-01,armat001,armasto01,1985,BOS,AL,armasto01,915000.0
25,evansdw01,1951,11,3,USA,CA,Santa Monica,None,None,None,...,R,1972-09-16,1991-10-06,evand002,evansdw01,1985,BOS,AL,evansdw01,800000.0
26,riceji01,1953,3,8,USA,SC,Anderson,None,None,None,...,R,1974-08-19,1989-08-03,ricej001,riceji01,1985,BOS,AL,riceji01,779227.0
27,bucknbi01,1949,12,14,USA,CA,Vallejo,None,None,None,...,L,1969-09-21,1990-05-30,buckb001,bucknbi01,1985,BOS,AL,bucknbi01,747500.0
28,easlemi01,1950,11,29,USA,OH,Cleveland,None,None,None,...,R,1973-09-05,1987-10-04,easlm001,easlemi01,1985,BOS,AL,easlemi01,650000.0
29,clearma01,1956,5,27,USA,CA,Los Angeles,None,None,None,...,R,1979-04-04,1990-05-16,cleam001,clearma01,1985,BOS,AL,clearma01,580000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23926,cletoma01,1989,5,1,D.R.,Distrito Nacional,Santo Domingo,None,None,None,...,R,2011-06-02,2013-06-05,cletm001,cletoma01,2013,SLN,NL,cletoma01,490000.0
23927,jacksry02,1988,5,10,USA,FL,Miami,None,None,None,...,R,2012-08-11,2013-09-28,jackr005,jacksry02,2013,SLN,NL,jacksry02,490000.0
23928,kozmape01,1988,4,11,USA,OK,Tulsa,None,None,None,...,R,2011-05-18,2013-09-29,kozmp001,kozmape01,2013,SLN,NL,kozmape01,490000.0
23929,millesh01,1990,10,10,USA,TX,Houston,None,None,None,...,R,2012-09-05,2013-09-25,mills001,millesh01,2013,SLN,NL,millesh01,490000.0
23930,rosentr01,1990,5,29,USA,MO,Lee's Summit,None,None,None,...,R,2012-07-18,2013-09-27,roset001,rosentr01,2013,SLN,NL,rosentr01,490000.0
23931,werthja01,1979,5,20,USA,IL,Springfield,None,None,None,...,R,2002-09-01,2013-09-28,wertj001,werthja01,2013,WAS,NL,werthja01,16571429.0
23932,zimmery01,1984,9,28,USA,NC,Washington,None,None,None,...,R,2005-09-01,2013-09-28,zimmr001,zimmery01,2013,WAS,NL,zimmery01,14100000.0
23933,harenda01,1980,9,17,USA,CA,Monterey Park,None,None,None,...,R,2003-06-30,2013-09-28,hared001,harenda01,2013,WAS,NL,harenda01,13000000.0
23934,soriara01,1979,12,19,D.R.,San Pedro de Macoris,San Jose,None,None,None,...,R,2002-05-10,2013-09-28,sorir001,soriara01,2013,WAS,NL,soriara01,11742091.0
23935,larocad01,1979,11,6,USA,CA,Orange County,None,None,None,...,L,2004-04-07,2013-09-25,laroa001,larocad01,2013,WAS,NL,larocad01,10000000.0
23936,suzukku01,1983,10,4,USA,HI,Wailuku,None,None,None,...,R,2007-06-12,2013-09-29,suzuk001,suzukku01,2013,WAS,NL,suzukku01,6487500.0
23937,gonzagi01,1985,9,19,USA,FL,Hialeah,None,None,None,...,L,2008-08-06,2013-09-24,gonzg003,gonzagi01,2013,WAS,NL,gonzagi01,6350000.0
23938,zimmejo02,1986,5,23,USA,WI,Auburndale,None,None,None,...,R,2009-04-20,2013-09-25,zimmj003,zimmejo02,2013,WAS,NL,zimmejo02,5350000.0
23939,spande01,1984,2,27,USA,FL,Tampa,None,None,None,...,L,2008-04-06,2013-09-28,spand001,spande01,2013,WAS,NL,spande01,4750000.0
23940,clippty01,1985,2,14,USA,KY,Lexington,None,None,None,...,R,2007-05-20,2013-09-27,clipt001,clippty01,2013,WAS,NL,clippty01,4000000.0
23941,strasst01,1988,7,20,USA,CA,San Diego,None,None,None,...,R,2010-06-08,2013-09-27,stras001,strasst01,2013,WAS,NL,strasst01,3900000.0
23942,desmoia01,1985,9,20,USA,FL,Sarasota,None,None,None,...,R,2009-09-10,2013-09-28,desmi001,desmoia01,2013,WAS,NL,desmoia01,3800000.0
23943,storedr01,1987,8,11,USA,IN,Indianapolis,None,None,None,...,R,2010-05-17,2013-09-28,stord001,storedr01,2013,WAS,NL,storedr01,2500000.0
23944,detwiro01,1986,3,6,USA,MO,St. Louis,None,None,None,...,L,2007-09-07,2013-07-03,detwr001,detwiro01,2013,WAS,NL,detwiro01,2337500.0
23945,harpebr03,1992,10,16,USA,NV,Las Vegas,None,None,None,...,R,2012-04-28,2013-09-28,harpb003,harpebr03,2013,WAS,NL,harpebr03,2000000.0
23946,bernaro01,1984,6,12,Curacao,None,Willemstad,None,None,None,...,L,2008-06-29,2013-09-29,bernr001,bernaro01,2013,WAS,NL,bernaro01,1212500.0
23947,tracych01,1980,5,22,USA,NC,Charlotte,None,None,None,...,R,2004-04-21,2013-09-28,tracc001,tracych01,2013,WAS,NL,tracych01,1000000.0
23948,stammcr01,1984,3,9,USA,OH,Versailles,None,None,None,...,R,2009-05-21,2013-09-25,stamc001,stammcr01,2013,WAS,NL,stammcr01,875000.0
23949,dukeza01,1983,4,19,USA,TX,Clifton,None,None,None,...,L,2005-07-02,2013-09-29,dukez001,dukeza01,2013,WAS,NL,dukeza01,700000.0
23950,espinda01,1987,4,25,USA,CA,Santa Ana,None,None,None,...,R,2010-09-01,2013-06-02,espid001,espinda01,2013,WAS,NL,espinda01,526250.0
23951,matthry01,1983,11,10,USA,CA,Galt,None,None,None,...,R,2011-06-14,2013-09-29,mattr001,matthry01,2013,WAS,NL,matthry01,504500.0
23952,lombast02,1988,9,20,USA,MD,Fulton,None,None,None,...,R,2011-09-06,2013-09-29,lombs002,lombast02,2013,WAS,NL,lombast02,501250.0
23953,ramoswi01,1987,8,10,Venezuela,Carabobo,Valencia,None,None,None,...,R,2010-05-02,2013-09-28,ramow001,ramoswi01,2013,WAS,NL,ramoswi01,501250.0
23954,rodrihe03,1987,2,25,Venezuela,Zulia,Santa Barbara,None,None,None,...,R,2009-09-21,2013-07-10,rodrh002,rodrihe03,2013,WAS,NL,rodrihe03,501000.0
23955,moorety01,1987,1,30,USA,MS,Brandon,None,None,None,...,R,2012-04-29,2013-09-29,moort002,moorety01,2013,WAS,NL,moorety01,493000.0

In [81]:
pd.read_sql_query('''SELECT * FROM Salaries JOIN Master ON Salaries.playerID = Master.playerID''',cnx)

,yearid,teamid,lgid,playerid,salary,playerid,birthyear,birthmonth,birthday,birthcountry,...,namelast,namegiven,weight,height,bats,throws,debut,finalgame,retroid,bbrefid
0,1985,BAL,AL,murraed02,1472819.0,murraed02,1956,2,24,USA,...,Murray,Eddie Clarence,190,74,B,R,1977-04-07,1997-09-20,murre001,murraed02
1,1985,BAL,AL,lynnfr01,1090000.0,lynnfr01,1952,2,3,USA,...,Lynn,Fredric Michael,185,73,L,L,1974-09-05,1990-10-03,lynnf001,lynnfr01
2,1985,BAL,AL,ripkeca01,800000.0,ripkeca01,1960,8,24,USA,...,Ripken,Calvin Edwin,200,76,R,R,1981-08-10,2001-10-06,ripkc001,ripkeca01
3,1985,BAL,AL,lacyle01,725000.0,lacyle01,1948,4,10,USA,...,Lacy,Leondaus,175,73,R,R,1972-06-30,1987-10-03,lacyl001,lacyle01
4,1985,BAL,AL,flanami01,641667.0,flanami01,1951,12,16,USA,...,Flanagan,Michael Kendall,185,72,L,L,1975-09-05,1992-09-27,flanm001,flanami01
5,1985,BAL,AL,boddimi01,625000.0,boddimi01,1957,8,23,USA,...,Boddicker,Michael James,172,71,R,R,1980-10-04,1993-06-13,boddm001,boddimi01
6,1985,BAL,AL,stewasa01,581250.0,stewasa01,1954,10,28,USA,...,Stewart,Samuel Lee,200,75,R,R,1978-09-01,1987-10-03,stews001,stewasa01
7,1985,BAL,AL,martide01,560000.0,martide01,1954,5,14,Nicaragua,...,Martinez,Jose Dennis,160,73,R,R,1976-09-14,1998-09-27,martd001,martide01
8,1985,BAL,AL,roeniga01,558333.0,roeniga01,1954,12,5,USA,...,Roenicke,Gary Steven,205,75,R,R,1976-06-08,1988-07-24,roeng001,roeniga01
9,1985,BAL,AL,mcgresc01,547143.0,mcgresc01,1954,1,18,USA,...,McGregor,Scott Houston,190,73,B,L,1976-09-19,1988-04-27,mcgrs001,mcgresc01
10,1985,BAL,AL,dempsri01,512500.0,dempsri01,1949,9,13,USA,...,Dempsey,John Rikard,190,72,R,R,1969-09-23,1992-09-27,dempr001,dempsri01
11,1985,BAL,AL,grosswa01,483333.0,grosswa01,1952,1,14,USA,...,Gross,Wayne Dale,210,74,L,R,1976-08-21,1986-10-01,grosw001,grosswa01
12,1985,BAL,AL,dauerri01,480000.0,dauerri01,1952,7,27,USA,...,Dauer,Richard Fremont,180,72,R,R,1976-09-11,1985-09-29,dauer001,dauerri01
13,1985,BAL,AL,fordda01,450000.0,fordda01,1952,5,19,USA,...,Ford,Darnell Glenn,185,73,R,R,1975-04-12,1985-05-31,fordd001,fordda01
14,1985,BAL,AL,martiti01,440000.0,martiti01,1950,5,31,USA,...,Martinez,Felix Anthony,180,70,L,L,1974-08-09,1988-04-18,martt001,martiti01
15,1985,BAL,AL,davisst02,437500.0,davisst02,1961,12,26,USA,...,Davis,George Earl,207,76,R,R,1982-04-29,1994-08-11,davis001,davisst02
16,1985,BAL,AL,dwyerji01,375000.0,dwyerji01,1950,6,3,USA,...,Dwyer,James Edward,165,70,L,L,1973-06-10,1990-06-21,dwyej001,dwyerji01
17,1985,BAL,AL,nolanjo01,341667.0,nolanjo01,1951,5,12,USA,...,Nolan,Joseph William,175,71,L,R,1972-09-21,1985-06-25,nolaj001,nolanjo01
18,1985,BAL,AL,shelbjo01,130000.0,shelbjo01,1958,2,23,USA,...,Shelby,John T.,175,73,B,R,1981-09-15,1991-08-11,shelj001,shelbjo01
19,1985,BAL,AL,rayfofl01,128500.0,rayfofl01,1957,7,27,USA,...,Rayford,Floyd Kinnard,190,70,R,R,1980-04-17,1987-09-16,rayff001,rayfofl01
20,1985,BAL,AL,youngmi01,121000.0,youngmi01,1960,3,20,USA,...,Young,Michael Darren,195,74,B,R,1982-09-14,1989-09-30,younm002,youngmi01
21,1985,BAL,AL,sheetla01,60000.0,sheetla01,1959,12,6,USA,...,Sheets,Larry Kent,217,75,L,R,1984-09-18,1993-10-01,sheel001,sheetla01
22,1985,BOS,AL,stanlbo01,1075000.0,stanlbo01,1954,11,10,USA,...,Stanley,Robert William,210,76,R,R,1977-04-16,1989-09-05,stanb001,stanlbo01
23,1985,BOS,AL,boggswa01,1000000.0,boggswa01,1958,6,15,USA,...,Boggs,Wade Anthony,190,74,L,R,1982-04-10,1999-08-27,boggw001,boggswa01
24,1985,BOS,AL,armasto01,915000.0,armasto01,1953,7,2,Venezuela,...,Armas,Antonio Rafael,182,71,R,R,1976-09-06,1989-10-01,armat001,armasto01
25,1985,BOS,AL,evansdw01,800000.0,evansdw01,1951,11,3,USA,...,Evans,Dwight Michael,180,74,R,R,1972-09-16,1991-10-06,evand002,evansdw01
26,1985,BOS,AL,riceji01,779227.0,riceji01,1953,3,8,USA,...,Rice,James Edward,200,74,R,R,1974-08-19,1989-08-03,ricej001,riceji01
27,1985,BOS,AL,bucknbi01,747500.0,bucknbi01,1949,12,14,USA,...,Buckner,William Joseph,185,72,L,L,1969-09-21,1990-05-30,buckb001,bucknbi01
28,1985,BOS,AL,easlemi01,650000.0,easlemi01,1950,11,29,USA,...,Easler,Michael Anthony,190,72,L,R,1973-09-05,1987-10-04,easlm001,easlemi01
29,1985,BOS,AL,clearma01,580000.0,clearma01,1956,5,27,USA,...,Clear,Mark Alan,200,76,R,R,1979-04-04,1990-05-16,cleam001,clearma01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23926,2013,SLN,NL,cletoma01,490000.0,cletoma01,1989,5,1,D.R.,...,Cleto,Maikel Jose,250,75,R,R,2011-06-02,2013-06-05,cletm001,cletoma01
23927,2013,SLN,NL,jacksry02,490000.0,jacksry02,1988,5,10,USA,...,Jackson,Ryan Christopher,180,75,R,R,2012-08-11,2013-09-28,jackr005,jacksry02
23928,2013,SLN,NL,kozmape01,490000.0,kozmape01,1988,4,11,USA,...,Kozma,Peter Michael,190,72,R,R,2011-05-18,2013-09-29,kozmp001,kozmape01
23929,2013,SLN,NL,millesh01,490000.0,millesh01,1990,10,10,USA,...,Miller,Shelby Charles,215,75,R,R,2012-09-05,2013-09-25,mills001,millesh01
23930,2013,SLN,NL,rosentr01,490000.0,rosentr01,1990,5,29,USA,...,Rosenthal,Trevor Jordan,220,74,R,R,2012-07-18,2013-09-27,roset001,rosentr01
23931,2013,WAS,NL,werthja01,16571429.0,werthja01,1979,5,20,USA,...,Werth,Jayson Richard Gowan,225,77,R,R,2002-09-01,2013-09-28,wertj001,werthja01
23932,2013,WAS,NL,zimmery01,14100000.0,zimmery01,1984,9,28,USA,...,Zimmerman,Ryan Wallace,230,75,R,R,2005-09-01,2013-09-28,zimmr001,zimmery01
23933,2013,WAS,NL,harenda01,13000000.0,harenda01,1980,9,17,USA,...,Haren,Daniel John,215,77,R,R,2003-06-30,2013-09-28,hared001,harenda01
23934,2013,WAS,NL,soriara01,11742091.0,soriara01,1979,12,19,D.R.,...,Soriano,Rafael,210,73,R,R,2002-05-10,2013-09-28,sorir001,soriara01
23935,2013,WAS,NL,larocad01,10000000.0,larocad01,1979,11,6,USA,...,LaRoche,David Adam,200,74,L,L,2004-04-07,2013-09-25,laroa001,larocad01
23936,2013,WAS,NL,suzukku01,6487500.0,suzukku01,1983,10,4,USA,...,Suzuki,Kurt Kiyoshi,205,71,R,R,2007-06-12,2013-09-29,suzuk001,suzukku01
23937,2013,WAS,NL,gonzagi01,6350000.0,gonzagi01,1985,9,19,USA,...,Gonzalez,Giovany A.,200,72,R,L,2008-08-06,2013-09-24,gonzg003,gonzagi01
23938,2013,WAS,NL,zimmejo02,5350000.0,zimmejo02,1986,5,23,USA,...,Zimmermann,Jordan M.,220,74,R,R,2009-04-20,2013-09-25,zimmj003,zimmejo02
23939,2013,WAS,NL,spande01,4750000.0,spande01,1984,2,27,USA,...,Span,Keiunta Denard,210,72,L,L,2008-04-06,2013-09-28,spand001,spande01
23940,2013,WAS,NL,clippty01,4000000.0,clippty01,1985,2,14,USA,...,Clippard,Tyler Lee,200,75,R,R,2007-05-20,2013-09-27,clipt001,clippty01
23941,2013,WAS,NL,strasst01,3900000.0,strasst01,1988,7,20,USA,...,Strasburg,Stephen James,200,76,R,R,2010-06-08,2013-09-27,stras001,strasst01
23942,2013,WAS,NL,desmoia01,3800000.0,desmoia01,1985,9,20,USA,...,Desmond,Ian M.,210,75,R,R,2009-09-10,2013-09-28,desmi001,desmoia01
23943,2013,WAS,NL,storedr01,2500000.0,storedr01,1987,8,11,USA,...,Storen,Drew Patrick,225,73,B,R,2010-05-17,2013-09-28,stord001,storedr01
23944,2013,WAS,NL,detwiro01,2337500.0,detwiro01,1986,3,6,USA,...,Detwiler,Ross Emery,200,77,R,L,2007-09-07,2013-07-03,detwr001,detwiro01
23945,2013,WAS,NL,harpebr03,2000000.0,harpebr03,1992,10,16,USA,...,Harper,Bryce Aron Max,230,74,L,R,2012-04-28,2013-09-28,harpb003,harpebr03
23946,2013,WAS,NL,bernaro01,1212500.0,bernaro01,1984,6,12,Curacao,...,Bernadina,Rogearvin Argelo,200,74,L,L,2008-06-29,2013-09-29,bernr001,bernaro01
23947,2013,WAS,NL,tracych01,1000000.0,tracych01,1980,5,22,USA,...,Tracy,Chad Austin,205,73,L,R,2004-04-21,2013-09-28,tracc001,tracych01
23948,2013,WAS,NL,stammcr01,875000.0,stammcr01,1984,3,9,USA,...,Stammen,Craig N.,215,75,R,R,2009-05-21,2013-09-25,stamc001,stammcr01
23949,2013,WAS,NL,dukeza01,700000.0,dukeza01,1983,4,19,USA,...,Duke,Zachary Thomas,210,74,L,L,2005-07-02,2013-09-29,dukez001,dukeza01
23950,2013,WAS,NL,espinda01,526250.0,espinda01,1987,4,25,USA,...,Espinosa,Daniel Richard,205,72,B,R,2010-09-01,2013-06-02,espid001,espinda01
23951,2013,WAS,NL,matthry01,504500.0,matthry01,1983,11,10,USA,...,Mattheus,Ryan Brent,215,75,R,R,2011-06-14,2013-09-29,mattr001,matthry01
23952,2013,WAS,NL,lombast02,501250.0,lombast02,1988,9,20,USA,...,Lombardozzi,Stephen Paul,200,72,B,R,2011-09-06,2013-09-29,lombs002,lombast02
23953,2013,WAS,NL,ramoswi01,501250.0,ramoswi01,1987,8,10,Venezuela,...,Ramos,Wilson Abraham,220,72,R,R,2010-05-02,2013-09-28,ramow001,ramoswi01
23954,2013,WAS,NL,rodrihe03,501000.0,rodrihe03,1987,2,25,Venezuela,...,Rodriguez,Henry Alberto,225,73,R,R,2009-09-21,2013-07-10,rodrh002,rodrihe03
23955,2013,WAS,NL,moorety01,493000.0,moorety01,1987,1,30,USA,...,Moore,Tyler Michael,220,74,R,R,2012-04-29,2013-09-29,moort002,moorety01