##  Connecting via Python
We'll be using a pandas connector alongside SQLAlchemy to connect to this database

SQLAlchemy: generates SQL statements

psycopg2: sends SQL statements to the database ( SQLAlchemy uses psycogp2 to communicate 
with our database)

In [208]:
import pandas as pd
import numpy as np
import html5lib
import calendar
import time

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
#from sklearn.cross_validation import train_test_split

from sklearn.linear_model import LinearRegression, Lasso, LassoCV

from sklearn import tree

In [209]:

import dateutil

from sklearn.model_selection import train_test_split
#from sklearn.cross_validation import train_test_split


from sklearn.metrics import r2_score

import statsmodels.api as sm

import seaborn as sns

import patsy
from patsy import dmatrices

from sklearn import linear_model as lm
from sklearn.linear_model import LogisticRegression
from sklearn import cross_validation
from sklearn import metrics
from sklearn.metrics import confusion_matrix

from sklearn.metrics import roc_curve, auc
from sklearn.metrics import accuracy_score

from sklearn.neighbors import KNeighborsClassifier

In [210]:
from sqlalchemy import create_engine
import pandas as pd
cnx = create_engine('postgresql://postgres@107.22.156.254:5432/postgres')
#cnx = create_engine('postgresql://username:password@ip_address:port/dbname')
#port ~ 5432

In [4]:
# pd.read_sql_query('''SELECT * FROM santander LIMIT 5''',cnx)

create_engine : establishes how we are communicate with the database.
    and defines where the db is.

In [5]:
# pd.read_sql_query('''SELECT COUNT(*) as cnt FROM santander''',cnx)

In [6]:
pd.read_sql_query('''SELECT * FROM INFORMATION_SCHEMA.COLUMNS''',cnx)



# pd.read_sql_query('''SELECT * FROM santander WHERE 0.01 >= CAST(CHECKSUM(NEWID(), SalesOrderID) & 07fffffff AS float) / CAST (0x7fffffff AS int)''',cnx)

# # pd.read_sql_query('''SELECT * FROM santander WHERE RAND() <= .05''',cnx)
# # pd.read_sql_query('''SELECT samples FROM santander LIMIT $13547309, 100000''',cnx)

,table_catalog,table_schema,table_name,column_name,ordinal_position,column_default,is_nullable,data_type,character_maximum_length,character_octet_length,...,is_identity,identity_generation,identity_start,identity_increment,identity_maximum,identity_minimum,identity_cycle,is_generated,generation_expression,is_updatable
0,postgres,information_schema,sql_packages,feature_id,1,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,YES
1,postgres,pg_catalog,pg_type,typarray,13,None,NO,oid,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
2,postgres,pg_catalog,pg_statio_all_sequences,relid,1,None,YES,oid,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,NO
3,postgres,pg_catalog,pg_class,relkind,16,None,NO,"""char""",NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
4,postgres,pg_catalog,pg_language,lanplcallfoid,5,None,NO,oid,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
5,postgres,pg_catalog,pg_user,useconfig,9,None,YES,ARRAY,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,NO
6,postgres,pg_catalog,pg_timezone_abbrevs,abbrev,1,None,YES,text,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,NO
7,postgres,information_schema,table_constraints,table_name,6,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,NO
8,postgres,information_schema,table_privileges,privilege_type,6,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,NO
9,postgres,information_schema,triggers,event_object_catalog,5,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,NO
10,postgres,information_schema,triggered_update_columns,event_object_column,7,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,NO
11,postgres,pg_catalog,pg_index,indisreplident,13,None,NO,boolean,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
12,postgres,information_schema,constraint_column_usage,column_name,4,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,NO
13,postgres,pg_catalog,pg_roles,rolinherit,3,None,YES,boolean,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,NO
14,postgres,information_schema,columns,data_type,8,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,NO
15,postgres,information_schema,transforms,transform_type,8,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,NO
16,postgres,pg_catalog,pg_stat_xact_all_tables,n_tup_upd,9,None,YES,bigint,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,NO
17,postgres,information_schema,character_sets,character_set_schema,2,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,NO
18,postgres,information_schema,routine_privileges,routine_schema,7,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,NO
19,postgres,information_schema,sql_features,is_verified_by,6,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,YES
20,postgres,pg_catalog,pg_stat_all_tables,autovacuum_count,20,None,YES,bigint,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,NO
21,postgres,pg_catalog,pg_depend,classid,1,None,NO,oid,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
22,postgres,information_schema,attributes,character_octet_length,10,None,YES,integer,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,NO
23,postgres,information_schema,user_defined_types,datetime_precision,25,None,YES,integer,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,NO
24,postgres,pg_catalog,pg_database,datdba,2,None,NO,oid,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
25,postgres,pg_catalog,pg_attribute,atttypid,3,None,NO,oid,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
26,postgres,pg_catalog,pg_shseclabel,label,4,None,NO,text,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,YES
27,postgres,information_schema,user_defined_types,interval_type,26,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,NO
28,postgres,pg_catalog,pg_transform,trflang,2,None,NO,oid,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
29,postgres,pg_catalog,pg_attribute,atthasdef,14,None,NO,boolean,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1647,postgres,pg_catalog,pg_stat_xact_sys_tables,relname,3,None,YES,name,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,NO
1648,postgres,information_schema,column_options,option_value,6,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,NO
1649,postgres,information_schema,attributes,collation_name,16,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,NO
1650,postgres,information_schema,foreign_servers,foreign_server_version,6,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,NO
1651,postgres,pg_catalog,pg_amop,amoprighttype,3,None,NO,oid,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
1652,postgres,pg_catalog,pg_statio_sys_indexes,idx_blks_hit,7,None,YES,bigint,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,NO
1653,postgres,public,santander,nomprov,21,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,YES
1654,postgres,information_schema,usage_privileges,privilege_type,7,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,NO
1655,postgres,information_schema,columns,identity_increment,38,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,NO
1656,postgres,information_schema,routines,type_udt_name,31,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,NO
1657,postgres,pg_catalog,pg_seclabels,objtype,4,None,YES,text,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,NO
1658,postgres,pg_catalog,pg_stat_bgwriter,buffers_backend_fsync,9,None,YES,bigint,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,NO
1659,postgres,information_schema,sequences,numeric_precision_radix,6,None,YES,integer,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,NO
1660,postgres,information_schema,parameters,data_type,9,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,NO
1661,postgres,information_schema,routines,new_savepoint_level,57,None,YES,character varying,3.0,1.200000e+01,...,NO,None,None,None,None,None,None,NEVER,None,NO
1662,postgres,pg_catalog,pg_indexes,schemaname,1,None,YES,name,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,NO
1663,postgres,information_schema,tables,user_defined_type_catalog,7,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,NO
1664,postgres,information_schema,_pg_user_mappings,authorization_identifier,4,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,NO
1665,postgres,pg_catalog,pg_foreign_server,srvowner,2,None,NO,oid,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
1666,postgres,information_schema,schemata,default_character_set_name,6,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,NO
1667,postgres,information_schema,user_defined_types,character_maximum_length,14,None,YES,integer,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,NO
1668,postgres,pg_catalog,pg_opclass,opcmethod,1,None,NO,oid,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
1669,postgres,information_schema,routines,result_cast_collation_catalog,66,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,NO
1670,postgres,pg_catalog,pg_statio_all_tables,relname,3,None,YES,name,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,NO
1671,postgres,pg_catalog,pg_stat_database,xact_rollback,5,None,YES,bigint,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,NO
1672,postgres,information_schema,sql_sizing_profiles,required_value,4,None,YES,integer,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
1673,postgres,pg_catalog,pg_stats,attname,3,None,YES,name,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,NO
1674,postgres,information_schema,applicable_roles,role_name,2,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,NO
1675,postgres,information_schema,attributes,attribute_name,4,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,NO
1676,postgres,pg_catalog,pg_constraint,conffeqop,21,None,YES,ARRAY,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES

In [6]:
df = pd.read_sql_query('''SELECT * FROM santander WHERE fecha_dato = '2015-1-28' ''',cnx)

In [12]:
df_month1 = cleanupData(df)
df_month1.to_csv('D:/OneDrive/thisismetis/sf17_ds8_workingdirectory/projects/03-mcnulty/Santander/Account_Data3/df_month1.csv')

In [10]:
# df1 = pd.read_csv('D:/OneDrive/thisismetis/sf17_ds8_workingdirectory/projects/03-mcnulty/Santander/train_ver2_A.csv')

In [211]:
import re

def cleanupData(df):
#     df = pd.DataFrame(df)
    df.columns = ['DatePulled', 'CustCode', 'EmployeeIndex', 'CustCountry', 'CustGender', 'CustAge', 'CustStartDate', 'NewCustIndex', 'CustSeniority', 'CustDuringNotEndMonth', 'CustLastDatePrimary',
                 'CustType', 'CustRelationType', 'ResidenceIndex', 'ForeignerIndex', 'EmployeeSpouse', 'CustChannelJoin', 'Deceased', 'AddressType', 'CustProvinceCode', 'CustProvince', 'CustActivity',
                 'CustGrossIncome', 'CustSegment', 'SavingsAcct', 'Guarantees', 'CurrentAcct', 'DerivAcct', 'PayrollAcct', 'JuniorAcct', 'SpecialAcct1', 'SpecialAcct2',
                 'SpecialAcct3Plus', 'STDeposits', 'MTDeposits', 'LTDeposits', 'eAcct', 'Funds', 'Mortgage', 'Pensions', 'Loans', 'Taxes', 'CreditCard', 'Securities', 'HomeAcct', 'Payroll', 'Pensions', 'DirectDebit']
    
    df2 = df.iloc[:,1:]
    del df2['AddressType']
    del df2['CustLastDatePrimary']
    del df2['CustStartDate']
    df = df[~df['CustAge'].isin(['NA', ' NA', '  NA', '   NA', '    NA', '     NA', '      NA', '       NA'])]
    df = df[~df['CustSeniority'].isin(['NA', ' NA', '  NA', '   NA', '    NA', '     NA', '      NA', '       NA'])]
    df['CustAge'] = pd.to_numeric(df['CustAge'], errors='coerce')
    df['CustSeniority'] = pd.to_numeric(df['CustSeniority'])
    df = df[df['CustSeniority'] > 0]
    
    return df

In [5]:
df = pd.read_sql_query('''SELECT * FROM santander WHERE fecha_dato = '2015-2-28' ''',cnx)
df = cleanupData(df)
df.to_csv('D:/OneDrive/thisismetis/sf17_ds8_workingdirectory/projects/03-mcnulty/Santander/Account_Data3/df_month2.csv')

In [6]:
df = pd.read_sql_query('''SELECT * FROM santander WHERE fecha_dato = '2015-3-28' ''',cnx)
df = cleanupData(df)
df.to_csv('D:/OneDrive/thisismetis/sf17_ds8_workingdirectory/projects/03-mcnulty/Santander/Account_Data3/df_month3.csv')

In [7]:
df = pd.read_sql_query('''SELECT * FROM santander WHERE fecha_dato = '2015-4-28' ''',cnx)
df = cleanupData(df)
df.to_csv('D:/OneDrive/thisismetis/sf17_ds8_workingdirectory/projects/03-mcnulty/Santander/Account_Data3/df_month4.csv')

In [8]:
df = pd.read_sql_query('''SELECT * FROM santander WHERE fecha_dato = '2015-5-28' ''',cnx)
df = cleanupData(df)
df.to_csv('D:/OneDrive/thisismetis/sf17_ds8_workingdirectory/projects/03-mcnulty/Santander/Account_Data3/df_month5.csv')

In [9]:
df = pd.read_sql_query('''SELECT * FROM santander WHERE fecha_dato = '2015-6-28' ''',cnx)
df = cleanupData(df)
df.to_csv('D:/OneDrive/thisismetis/sf17_ds8_workingdirectory/projects/03-mcnulty/Santander/Account_Data3/df_month6.csv')

In [212]:
df = pd.read_sql_query('''SELECT * FROM santander WHERE fecha_dato = '2015-7-28' ''',cnx)
df = cleanupData(df)
df.to_csv('D:/OneDrive/thisismetis/sf17_ds8_workingdirectory/projects/03-mcnulty/Santander/Account_Data3/df_month7.csv')

In [213]:
df = pd.read_sql_query('''SELECT * FROM santander WHERE fecha_dato = '2015-8-28' ''',cnx)
df = cleanupData(df)
df.to_csv('D:/OneDrive/thisismetis/sf17_ds8_workingdirectory/projects/03-mcnulty/Santander/Account_Data3/df_month8.csv')

In [214]:
df = pd.read_sql_query('''SELECT * FROM santander WHERE fecha_dato = '2015-9-28' ''',cnx)
df = cleanupData(df)
df.to_csv('D:/OneDrive/thisismetis/sf17_ds8_workingdirectory/projects/03-mcnulty/Santander/Account_Data3/df_month9.csv')

In [215]:
df = pd.read_sql_query('''SELECT * FROM santander WHERE fecha_dato = '2015-10-28' ''',cnx)
df = cleanupData(df)
df.to_csv('D:/OneDrive/thisismetis/sf17_ds8_workingdirectory/projects/03-mcnulty/Santander/Account_Data3/df_month10.csv')

In [216]:
df = pd.read_sql_query('''SELECT * FROM santander WHERE fecha_dato = '2015-11-28' ''',cnx)
df = cleanupData(df)
df.to_csv('D:/OneDrive/thisismetis/sf17_ds8_workingdirectory/projects/03-mcnulty/Santander/Account_Data3/df_month11.csv')

In [217]:
df = pd.read_sql_query('''SELECT * FROM santander WHERE fecha_dato = '2015-12-28' ''',cnx)
df = cleanupData(df)
df.to_csv('D:/OneDrive/thisismetis/sf17_ds8_workingdirectory/projects/03-mcnulty/Santander/Account_Data3/df_month12.csv')

In [ ]:
# df1 = pd.read_csv('D:/OneDrive/thisismetis/sf17_ds8_workingdirectory/projects/03-mcnulty/Santander/Account_Data3/df_month1.csv', encoding = "ISO-8859-1")

In [24]:
df1 = pd.read_csv('C:/Users/aj282_000/OneDrive/thisismetis/sf17_ds8_workingdirectory/projects/03-mcnulty/Santander/Account_Data3/df_month1.csv', encoding = "ISO-8859-1")

C:\Users\aj282_000\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [25]:
df2 = pd.read_csv('C:/Users/aj282_000/OneDrive/thisismetis/sf17_ds8_workingdirectory/projects/03-mcnulty/Santander/Account_Data3/df_month2.csv', encoding = "ISO-8859-1")

C:\Users\aj282_000\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [219]:
def getdiff(df1, df2):
    df1.sort_values('CustCode', inplace=True)
    df2.sort_values('CustCode', inplace=True)
    
    df1 = df1.iloc[:,1:]
    df2 = df2.iloc[:,1:]
    
    df1['NumberProducts'] = df1.iloc[:,23:].sum(axis=1)
    df2['NumberProducts'] = df2.iloc[:,23:].sum(axis=1)
    
    df_comb = df1.merge(df2, on='CustCode')
    
    df_diff = df_comb[df_comb["NumberProducts_x"] != df_comb["NumberProducts_y"] ]
    df_diff['ChangeProd'] = df_comb["NumberProducts_y"] - df_comb["NumberProducts_x"]
    
    df_same = df_comb[df_comb["NumberProducts_x"] == df_comb["NumberProducts_y"] ].sample(50000)
    df_same['ChangeProd'] = 0
#     df = df.append(df_diff)
#     df = df.append(df_same)\
    df_comb = df_diff.append(df_same)
    
    return df_comb

In [119]:
df = df1.iloc[0:1, 0:]

In [120]:
df.iloc[0:1,0:] = 0

In [144]:
df1.head()

,Unnamed: 0,DatePulled,CustCode,EmployeeIndex,CustCountry,CustGender,CustAge,CustStartDate,NewCustIndex,CustSeniority,...,Mortgage,Pensions,Loans,Taxes,CreditCard,Securities,HomeAcct,Payroll,Pensions.1,DirectDebit
412553,416966,2015-01-28,15889,F,ES,V,56,1995-01-16,0,245,...,0,0,0,0,1,1,0,0.0,0.0,0
412554,416967,2015-01-28,15890,A,ES,V,62,1995-01-16,0,246,...,0,1,0,0,1,0,0,1.0,1.0,1
412415,416827,2015-01-28,15892,F,ES,H,61,1995-01-16,0,246,...,0,0,0,1,1,1,0,0.0,0.0,1
412555,416968,2015-01-28,15893,N,ES,V,62,1997-10-03,0,246,...,0,0,0,0,0,1,0,0.0,0.0,0
412556,416969,2015-01-28,15894,A,ES,V,59,1995-01-16,0,246,...,0,0,0,1,1,1,0,1.0,1.0,1

In [221]:
df1 = pd.read_csv('D:/OneDrive/thisismetis/sf17_ds8_workingdirectory/projects/03-mcnulty/Santander/Account_Data3/df_month6.csv', encoding = "ISO-8859-1")

D:\Anac\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [222]:
df2 = pd.read_csv('D:/OneDrive/thisismetis/sf17_ds8_workingdirectory/projects/03-mcnulty/Santander/Account_Data3/df_month7.csv', encoding = "ISO-8859-1")

D:\Anac\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [223]:
df = getdiff(df1, df2)

D:\Anac\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [12]:
df.head()

,CustCode,EmployeeIndex_x,CustCountry_x,CustGender_x,CustAge_x,CustStartDate_x,NewCustIndex_x,CustSeniority_x,CustDuringNotEndMonth_x,CustLastDatePrimary_x,...,Loans_y,Taxes_y,CreditCard_y,Securities_y,HomeAcct_y,Payroll_y,Pensions.1_y,DirectDebit_y,NumberProducts_y,ChangeProd
0,15889,F,ES,V,56,1995-01-16,0,245,1,NaN,...,0,0,0,1,0,0.0,0.0,0,3.0,-1.0
4,15894,A,ES,V,59,1995-01-16,0,246,1,NaN,...,0,1,1,1,0,1.0,1.0,1,9.0,-1.0
8,15900,B,ES,V,48,1995-01-16,0,246,1,NaN,...,0,1,0,0,0,0.0,0.0,1,3.0,-1.0
15,15911,F,ES,V,52,1995-01-16,0,246,1,NaN,...,0,0,1,1,0,0.0,0.0,1,7.0,-1.0
19,15917,F,ES,H,49,1995-01-16,0,246,1,NaN,...,0,0,0,0,0,0.0,0.0,1,3.0,-1.0

In [13]:
# df = df_same.append(df_diff)

In [224]:
df1 = pd.read_csv('D:/OneDrive/thisismetis/sf17_ds8_workingdirectory/projects/03-mcnulty/Santander/Account_Data3/df_month7.csv', encoding = "ISO-8859-1")
df2 = pd.read_csv('D:/OneDrive/thisismetis/sf17_ds8_workingdirectory/projects/03-mcnulty/Santander/Account_Data3/df_month8.csv', encoding = "ISO-8859-1")

df_temp = getdiff(df1, df2)

df = df.append(df_temp)

D:\Anac\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
D:\Anac\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [225]:
df1 = pd.read_csv('D:/OneDrive/thisismetis/sf17_ds8_workingdirectory/projects/03-mcnulty/Santander/Account_Data3/df_month8.csv', encoding = "ISO-8859-1")
df2 = pd.read_csv('D:/OneDrive/thisismetis/sf17_ds8_workingdirectory/projects/03-mcnulty/Santander/Account_Data3/df_month9.csv', encoding = "ISO-8859-1")

df_temp = getdiff(df1, df2)

df = df.append(df_temp)

D:\Anac\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
D:\Anac\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [226]:
df1 = pd.read_csv('D:/OneDrive/thisismetis/sf17_ds8_workingdirectory/projects/03-mcnulty/Santander/Account_Data3/df_month9.csv', encoding = "ISO-8859-1")
df2 = pd.read_csv('D:/OneDrive/thisismetis/sf17_ds8_workingdirectory/projects/03-mcnulty/Santander/Account_Data3/df_month10.csv', encoding = "ISO-8859-1")

df_temp = getdiff(df1, df2)

df = df.append(df_temp)

D:\Anac\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
D:\Anac\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (12,16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
D:\Anac\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [229]:
df1 = pd.read_csv('D:/OneDrive/thisismetis/sf17_ds8_workingdirectory/projects/03-mcnulty/Santander/Account_Data3/df_month10.csv', encoding = "ISO-8859-1")
df2 = pd.read_csv('D:/OneDrive/thisismetis/sf17_ds8_workingdirectory/projects/03-mcnulty/Santander/Account_Data3/df_month11.csv', encoding = "ISO-8859-1")

df_temp = getdiff(df1, df2)

df = df.append(df_temp)

D:\Anac\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (12,16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
D:\Anac\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
D:\Anac\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [28]:
df1 = pd.read_csv('D:/thisismetis/sf17_ds8_workingdirectory/projects/03-mcnulty/Santander/Account_Data3/df_month2.csv', encoding = "ISO-8859-1")
df2 = pd.read_csv('D:/OneDrive/thisismetis/sf17_ds8_workingdirectory/projects/03-mcnulty/Santander/Account_Data3/df_month3.csv', encoding = "ISO-8859-1")

df_temp = getdiff(df1, df2)

df = df.append(df_temp)

C:\Users\aj282_000\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\aj282_000\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (11,16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\aj282_000\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [164]:
df1 = pd.read_csv('D:/OneDrive/thisismetis/sf17_ds8_workingdirectory/projects/03-mcnulty/Santander/Account_Data3/df_month2.csv', encoding = "ISO-8859-1")

D:\Anac\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [29]:
df1 = pd.read_csv('C:/Users/aj282_000/OneDrive/thisismetis/sf17_ds8_workingdirectory/projects/03-mcnulty/Santander/Account_Data3/df_month3.csv', encoding = "ISO-8859-1")
df2 = pd.read_csv('C:/Users/aj282_000/OneDrive/thisismetis/sf17_ds8_workingdirectory/projects/03-mcnulty/Santander/Account_Data3/df_month4.csv', encoding = "ISO-8859-1")

df_temp = getdiff(df1, df2)
df = df.append(df_temp)

C:\Users\aj282_000\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (11,16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\aj282_000\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\aj282_000\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [30]:
df1 = pd.read_csv('C:/Users/aj282_000/OneDrive/thisismetis/sf17_ds8_workingdirectory/projects/03-mcnulty/Santander/Account_Data3/df_month4.csv', encoding = "ISO-8859-1")
df2 = pd.read_csv('C:/Users/aj282_000/OneDrive/thisismetis/sf17_ds8_workingdirectory/projects/03-mcnulty/Santander/Account_Data3/df_month5.csv', encoding = "ISO-8859-1")

df_temp = getdiff(df1, df2)
df = df.append(df_temp)

C:\Users\aj282_000\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\aj282_000\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [31]:
df1 = pd.read_csv('C:/Users/aj282_000/OneDrive/thisismetis/sf17_ds8_workingdirectory/projects/03-mcnulty/Santander/Account_Data3/df_month5.csv', encoding = "ISO-8859-1")
df2 = pd.read_csv('C:/Users/aj282_000/OneDrive/thisismetis/sf17_ds8_workingdirectory/projects/03-mcnulty/Santander/Account_Data3/df_month6.csv', encoding = "ISO-8859-1")

df_temp = getdiff(df1, df2)
df = df.append(df_temp)

C:\Users\aj282_000\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\aj282_000\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [230]:
len(df)

473412

In [231]:
df['ChangeProd'].value_counts()

 0.0    250000
-1.0     90193
 1.0     88288
-2.0     20225
 2.0     19612
 3.0      2582
-3.0      2224
 4.0       138
-4.0       124
-5.0        17
 5.0         5
 6.0         3
-6.0         1
Name: ChangeProd, dtype: int64

In [ ]:
# df.to_csv('C:/Users/aj282_000/OneDrive/thisismetis/sf17_ds8_workingdirectory/projects/03-mcnulty/Santander/Account_Data3/df_combined_total.csv')

In [232]:
df_sample = df.sample(25000, random_state=1234)

In [233]:
df_sample.head()

,DatePulled_x,CustCode,EmployeeIndex_x,CustCountry_x,CustGender_x,CustAge_x,CustStartDate_x,NewCustIndex_x,CustSeniority_x,CustDuringNotEndMonth_x,...,Loans_y,Taxes_y,CreditCard_y,Securities_y,HomeAcct_y,Payroll_y,Pensions.1_y,DirectDebit_y,NumberProducts_y,ChangeProd
79802,2015-10-28,174395,N,ES,V,83,2000-09-19,0,181,1,...,0,0,0,0,0,0,0,0,1,0.0
70985,2015-07-28,156412,N,ES,V,64,2000-01-20,0,186,1,...,0,1,0,0,0,0,0,0,3,0.0
105861,2015-06-28,290181,N,ES,V,59,2001-11-03,0,157,1,...,0,1,0,0,0,0,0,0,3,0.0
496078,2015-10-28,1005598,N,ES,H,38,2012-02-20,0,44,1,...,0,0,0,0,0,0,0,0,0,0.0
398719,2015-09-28,869329,N,ES,V,45,2010-03-23,0,66,1,...,0,0,0,1,0,0,0,0,2,0.0

In [234]:
df_sample.to_csv('D:/OneDrive/thisismetis/sf17_ds8_workingdirectory/projects/03-mcnulty/Santander/Account_Data3/df_combined_sample_months6_11.csv')

In [96]:
# ne_stacked = (df1 != df2).stack()
# # ne = (df1 != df2).any(1)

In [187]:
df_sample = pd.read_csv('D:/OneDrive/thisismetis/sf17_ds8_workingdirectory/projects/03-mcnulty/Santander/Account_Data3/df_combined_sample.csv',encoding = "ISO-8859-1")

D:\Anac\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (15,62) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [236]:
# del df_sample['Unnamed: 0']

In [237]:
df_sample = df_sample.rename(index=str, columns={'EmployeeIndex_x':'EmployeeIndex', 'CustCountry_x':'CustCountry','CustGender_x':'CustGender', 'NewCustIndex_x':'NewCustIndex', 'CustDuringNotEndMonth_x':'CustDuringNotEndMonth', 'CustType_x':'CustType',
                                        'CustRelationType_x':'CustRelationType', 'ResidenceIndex_x':'ResidenceIndex', 'ForeignerIndex_x':'ForeignerIndex', 'EmployeeSpouse_x':'EmployeeSpouse', 'CustChannelJoin_x':'CustChannelJoin', 'Deceased_x':'Deceased', 'CustProvinceCode_x':'CustProvinceCode', 'CustProvince_x':'CustProvince', 'CustActivity_x':'CustActivity', 'CustSegment_x':'CustSegment'})

In [238]:
df_sample = df_sample.rename(index=str, columns={'CustAge_x':'CustAge', 'CustSeniority_x':'CustSeniority','AddressType_x':'AddressType', 'CustGrossIncome_x':'CustGrossIncome', 'CustLastDatePrimary_x':'CustLastDatePrimary' })

In [239]:
df_sample = df_sample.drop(['CustStartDate_x','EmployeeIndex_y', 'CustCountry_y','CustGender_y', 'NewCustIndex_y', 'CustDuringNotEndMonth_y', 'CustType_y',
                                'CustRelationType_y', 'ResidenceIndex_y', 'ForeignerIndex_y', 'EmployeeSpouse_y', 'CustChannelJoin_y', 
                                'Deceased_y', 'CustProvinceCode_y', 'CustProvince_y', 'CustActivity_y', 'CustSegment_y','CustAge_y', 'CustSeniority_y',
                                'SavingsAcct_y', 'Guarantees_y', 'CurrentAcct_y', 'DerivAcct_y', 'PayrollAcct_y', 'JuniorAcct_y', 'SpecialAcct1_y', 'SpecialAcct2_y',
                                 'SpecialAcct3Plus_y', 'STDeposits_y', 'MTDeposits_y', 'LTDeposits_y', 'eAcct_y', 'Funds_y', 'Mortgage_y', 'Pensions_y', 'Loans_y', 
                                'Taxes_y', 'CreditCard_y', 'Securities_y', 'HomeAcct_y', 'Payroll_y', 'Pensions_y', 'DirectDebit_y'], axis=1)

In [240]:
df_sample = pd.get_dummies(df_sample, columns = ['EmployeeIndex', 'CustCountry','CustGender', 'NewCustIndex', 'CustDuringNotEndMonth', 'CustType',
                                                    'CustRelationType', 'ResidenceIndex', 'ForeignerIndex', 'EmployeeSpouse', 'CustChannelJoin', 
                                                    'Deceased', 'CustProvinceCode', 'CustProvince', 'CustActivity', 'CustSegment'] )

In [241]:
df_sample = df_sample.drop(['Pensions.1_y', 'CustGrossIncome_y', 'NumberProducts_y', 'AddressType_y', 'CustLastDatePrimary_y', 'CustStartDate_y' ], axis=1)

In [242]:
del df_sample['CustLastDatePrimary']

In [243]:
df_sample.head()

,DatePulled_x,CustCode,CustAge,CustSeniority,AddressType,CustGrossIncome,SavingsAcct_x,Guarantees_x,CurrentAcct_x,DerivAcct_x,...,CustProvince_TOLEDO,CustProvince_VALENCIA,CustProvince_VALLADOLID,CustProvince_ZAMORA,CustProvince_ZARAGOZA,CustActivity_0,CustActivity_1,CustSegment_01 - TOP,CustSegment_02 - PARTICULARES,CustSegment_03 - UNIVERSITARIO
79802,2015-10-28,174395,83,181,1,230526.84,0,0,1,0,...,0,0,0,0,0,1,0,0,1,0
70985,2015-07-28,156412,64,186,1,402223.05,0,0,1,0,...,0,0,0,0,0,0,1,0,1,0
105861,2015-06-28,290181,59,157,1,177136.65,0,0,1,0,...,0,0,0,0,0,0,1,0,1,0
496078,2015-10-28,1005598,38,44,1,44541.75,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
398719,2015-09-28,869329,45,66,1,150262.05,0,0,1,0,...,0,0,1,0,0,0,1,0,1,0

In [244]:
df_sample.columns

Index(['DatePulled_x', 'CustCode', 'CustAge', 'CustSeniority', 'AddressType',
       'CustGrossIncome', 'SavingsAcct_x', 'Guarantees_x', 'CurrentAcct_x',
       'DerivAcct_x',
       ...
       'CustProvince_TOLEDO', 'CustProvince_VALENCIA',
       'CustProvince_VALLADOLID', 'CustProvince_ZAMORA',
       'CustProvince_ZARAGOZA', 'CustActivity_0', 'CustActivity_1',
       'CustSegment_01 - TOP', 'CustSegment_02 - PARTICULARES',
       'CustSegment_03 - UNIVERSITARIO'],
      dtype='object', length=327)

In [200]:
# df_sample['CustAge'] = pd.to_numeric(df_sample['CustAge'])

In [201]:
# df_sample['CustSeniority'] = pd.to_numeric(df_sample['CustSeniority'])

In [202]:
# df_sample = df_sample[df_sample['CustSeniority'] > 0]

In [245]:
bins = [0, 18, 25, 35, 45, 55, 65, 75, 150]
group_names = [0, 1, 2, 3, 4, 5, 6, 7]
df_sample['CustAge'] = pd.cut(df_sample['CustAge'], bins, labels=group_names)

In [246]:
bins = [0, 5, 10, 25, 50, 75, 100, 125, 150, 200, 300]
group_names = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
df_sample['CustSeniority'] = pd.cut(df_sample['CustSeniority'], bins, labels=group_names)

In [247]:
bins = [0., 15000., 30000., 50000., 75000., 100000., 250000., 500000., 1000000., 10000000.]
group_names = [0, 1, 2, 3, 4, 5, 6, 7, 8]
df_sample['CustGrossIncome'] = pd.cut(df_sample['CustGrossIncome'], bins, labels=group_names)

In [248]:
df_sample['ChangeProd'].value_counts()

 0.0    13227
-1.0     4718
 1.0     4697
-2.0     1090
 2.0     1001
 3.0      143
-3.0      111
-4.0        6
 4.0        6
-5.0        1
Name: ChangeProd, dtype: int64

In [288]:
df_model = pd.get_dummies(df_sample, columns = ['CustAge', 'CustSeniority','CustGrossIncome'] )

In [289]:
df_model.head()

,DatePulled_x,CustCode,AddressType,SavingsAcct_x,Guarantees_x,CurrentAcct_x,DerivAcct_x,PayrollAcct_x,JuniorAcct_x,SpecialAcct1_x,...,CustSeniority_9,CustGrossIncome_0,CustGrossIncome_1,CustGrossIncome_2,CustGrossIncome_3,CustGrossIncome_4,CustGrossIncome_5,CustGrossIncome_6,CustGrossIncome_7,CustGrossIncome_8
79802,2015-10-28,174395,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
70985,2015-07-28,156412,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
105861,2015-06-28,290181,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
496078,2015-10-28,1005598,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
398719,2015-09-28,869329,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [290]:
del df_model['DatePulled_x']

In [291]:
del df_model['CustCode']

In [292]:
df_model.columns
# df4 = df3.sample(10000, random_state=1234, axis=0)

Index(['AddressType', 'SavingsAcct_x', 'Guarantees_x', 'CurrentAcct_x',
       'DerivAcct_x', 'PayrollAcct_x', 'JuniorAcct_x', 'SpecialAcct1_x',
       'SpecialAcct2_x', 'SpecialAcct3Plus_x',
       ...
       'CustSeniority_9', 'CustGrossIncome_0', 'CustGrossIncome_1',
       'CustGrossIncome_2', 'CustGrossIncome_3', 'CustGrossIncome_4',
       'CustGrossIncome_5', 'CustGrossIncome_6', 'CustGrossIncome_7',
       'CustGrossIncome_8'],
      dtype='object', length=349)

In [293]:
df_model['AddressType_x'] = df_model['AddressType']
del df_model['AddressType']

# len(df4)

In [294]:
df_model['SavingsAcct'] = df_model['SavingsAcct_x']
del df_model['SavingsAcct_x']

df_model['Guarantees'] = df_model['Guarantees_x']
del df_model['Guarantees_x']

df_model['CurrentAcct'] = df_model['CurrentAcct_x']
del df_model['CurrentAcct_x']

df_model['DerivAcct'] = df_model['DerivAcct_x']
del df_model['DerivAcct_x']

df_model['PayrollAcct'] = df_model['PayrollAcct_x']
del df_model['PayrollAcct_x']

df_model['JuniorAcct'] = df_model['JuniorAcct_x']
del df_model['JuniorAcct_x']

df_model['SpecialAcct1'] = df_model['SpecialAcct1_x']
del df_model['SpecialAcct1_x']

df_model['SpecialAcct2'] = df_model['SpecialAcct2_x']
del df_model['SpecialAcct2_x']

df_model['SpecialAcct3Plus'] = df_model['SpecialAcct3Plus_x']
del df_model['SpecialAcct3Plus_x']

In [295]:
df_model.columns

Index(['STDeposits_x', 'MTDeposits_x', 'LTDeposits_x', 'eAcct_x', 'Funds_x',
       'Mortgage_x', 'Pensions_x', 'Loans_x', 'Taxes_x', 'CreditCard_x',
       ...
       'AddressType_x', 'SavingsAcct', 'Guarantees', 'CurrentAcct',
       'DerivAcct', 'PayrollAcct', 'JuniorAcct', 'SpecialAcct1',
       'SpecialAcct2', 'SpecialAcct3Plus'],
      dtype='object', length=349)

In [296]:
df_model['STDeposits'] = df_model['STDeposits_x']
del df_model['STDeposits_x']

df_model['MTDeposits'] = df_model['MTDeposits_x']
del df_model['MTDeposits_x']

df_model['LTDeposits'] = df_model['LTDeposits_x']
del df_model['LTDeposits_x']

df_model['eAcct'] = df_model['eAcct_x']
del df_model['eAcct_x']

df_model['Funds'] = df_model['Funds_x']
del df_model['Funds_x']

df_model['Mortgage'] = df_model['Mortgage_x']
del df_model['Mortgage_x']

df_model['Pensions'] = df_model['Pensions_x']
del df_model['Pensions_x']

df_model['Loans'] = df_model['Loans_x']
del df_model['Loans_x']

df_model['Taxes'] = df_model['Taxes_x']
del df_model['Taxes_x']

df_model['CreditCard'] = df_model['CreditCard_x']
del df_model['CreditCard_x']

In [297]:
df_model.columns

Index(['Securities_x', 'HomeAcct_x', 'Payroll_x', 'Pensions.1_x',
       'DirectDebit_x', 'NumberProducts_x', 'DatePulled_y', 'ChangeProd',
       'EmployeeIndex_A', 'EmployeeIndex_B',
       ...
       'STDeposits', 'MTDeposits', 'LTDeposits', 'eAcct', 'Funds', 'Mortgage',
       'Pensions', 'Loans', 'Taxes', 'CreditCard'],
      dtype='object', length=349)

In [298]:
df_model['Securities'] = df_model['Securities_x']
del df_model['Securities_x']

df_model['HomeAcct'] = df_model['HomeAcct_x']
del df_model['HomeAcct_x']

df_model['Payroll'] = df_model['Payroll_x']
del df_model['Payroll_x']

df_model['Pensions.1'] = df_model['Pensions.1_x']
del df_model['Pensions.1_x']

In [299]:
df_model['DirectDebit'] = df_model['DirectDebit_x']
del df_model['DirectDebit_x']

df_model['NumberProducts'] = df_model['NumberProducts_x']
del df_model['NumberProducts_x']

del df_model['DatePulled_y']

In [300]:
df_model.columns

Index(['ChangeProd', 'EmployeeIndex_A', 'EmployeeIndex_B', 'EmployeeIndex_F',
       'EmployeeIndex_N', 'CustCountry_AD', 'CustCountry_AE', 'CustCountry_AR',
       'CustCountry_AT', 'CustCountry_AU',
       ...
       'Pensions', 'Loans', 'Taxes', 'CreditCard', 'Securities', 'HomeAcct',
       'Payroll', 'Pensions.1', 'DirectDebit', 'NumberProducts'],
      dtype='object', length=348)

In [301]:
df_model['ChangeProd'].value_counts()

 0.0    13227
-1.0     4718
 1.0     4697
-2.0     1090
 2.0     1001
 3.0      143
-3.0      111
-4.0        6
 4.0        6
-5.0        1
Name: ChangeProd, dtype: int64

In [307]:
df4 = df_model.iloc[:, 0:]

In [308]:
df4.head()

,ChangeProd,EmployeeIndex_A,EmployeeIndex_B,EmployeeIndex_F,EmployeeIndex_N,CustCountry_AD,CustCountry_AE,CustCountry_AR,CustCountry_AT,CustCountry_AU,...,Pensions,Loans,Taxes,CreditCard,Securities,HomeAcct,Payroll,Pensions.1,DirectDebit,NumberProducts
79802,0.0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0,1.0
70985,0.0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0.0,0.0,0,3.0
105861,0.0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0.0,0.0,0,3.0
496078,0.0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0,0.0
398719,0.0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0.0,0.0,0,2.0

In [309]:
df4['ChangeProd'].value_counts()

 0.0    13227
-1.0     4718
 1.0     4697
-2.0     1090
 2.0     1001
 3.0      143
-3.0      111
-4.0        6
 4.0        6
-5.0        1
Name: ChangeProd, dtype: int64

In [310]:
bins = [-10, -1, 0, 2, 10]
group_names = [-1,0,1,2]
df4['ChangeProd'] = pd.cut(df4['ChangeProd'], bins, labels=group_names)

In [311]:
df4['ChangeProd'].value_counts()

 0    13227
-1     5926
 1     5698
 2      149
Name: ChangeProd, dtype: int64

In [312]:
def plot_confusion_matrix(cm,title='Confusion matrix', cmap=plt.cm.Reds):
    plt.imshow(cm, interpolation='nearest',cmap=cmap)
    plt.title(title)
    plt.colorbar()
    plt.tight_layout()
    plt.ylabel('True label')
    plt.xlabel('Predicted label')

def train_score(classifier,x,y):
    xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.3, random_state=4444)
    ytrain=np.ravel(ytrain)
    clf = classifier.fit(xtrain, ytrain)
    # accuracy for test & train:
    train_acc=clf.score(xtrain, ytrain)
    test_acc=clf.score(xtest,ytest)
    print("Training Data Accuracy: %0.2f" %(train_acc))
    print("Test Data Accuracy:     %0.2f" %(test_acc))
    
    y_true = ytest
    y_pred = clf.predict(xtest)


    conf = confusion_matrix(y_true, y_pred)
    precision = (conf[0, 0] / (conf[0, 0] + conf[1, 0]))
    recall = (conf[0, 0] / (conf[0, 0] + conf[0, 1]))
    F1 = 2 * (precision * recall) / (precision + recall)
    
    print(conf)

    print ('\n')
    print ("Precision:          %0.2f" %precision)
    print ("Recall:             %0.2f"%recall )
    print ("F1:                 %0.2f"%F1 )
    
    cm=confusion_matrix(y_true, y_pred, labels=None)
    
    plt.figure()
    plot_confusion_matrix(cm)

In [315]:
X = df_model.iloc[:, 1:]
# X['Budget'] = df2['Budget']
# X['Runtime'] = df2['Runtime']
y = df4['ChangeProd']

In [316]:
X.head()

,EmployeeIndex_A,EmployeeIndex_B,EmployeeIndex_F,EmployeeIndex_N,CustCountry_AD,CustCountry_AE,CustCountry_AR,CustCountry_AT,CustCountry_AU,CustCountry_BE,...,Pensions,Loans,Taxes,CreditCard,Securities,HomeAcct,Payroll,Pensions.1,DirectDebit,NumberProducts
79802,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0,1.0
70985,0,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0.0,0.0,0,3.0
105861,0,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0.0,0.0,0,3.0
496078,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0,0.0
398719,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0.0,0.0,0,2.0

In [317]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,random_state=1234)

In [318]:
X2 = np.linspace(0,20, 20)

results = pd.DataFrame()  #columns=['Iteration', 'TrainingError', 'TestingError']

results['K'] = X2
results['Accuracy'] = X2

In [319]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

for k in range(1,20):
    
    knc_model = KNeighborsClassifier(n_neighbors=k)
    knc_model.fit(X_train,y_train)
    test_set_pred = knc_model.predict(X_test)
    acc_score = accuracy_score(y_test, test_set_pred)

    results['K'][k] = k
    results['Accuracy'][k] = acc_score

In [320]:
results[results['Accuracy'] == results['Accuracy'].max()]

       K  Accuracy
19  19.0  0.666933

In [48]:
# for k in range(1,20):
#     knc_clf=KNeighborsClassifier(n_neighbors=k)
#     train_score(knc_clf,X,y)

In [321]:
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# for i, l in enumerate(results2['l2']):
    
lr_model = LogisticRegression()
lr_model.fit(X_train,y_train)
test_set_pred = lr_model.predict(X_test)
acc_score = accuracy_score(y_test, test_set_pred)


acc_score

0.67879999999999996

In [335]:
from sklearn.externals import joblib
joblib.dump(lr_model, 'lr_model.pkl')

['lr_model.pkl']

In [338]:
model_columns = list(X_train.columns)
joblib.dump(model_columns, 'lr_model_columns.pkl')

['lr_model_columns.pkl']

In [344]:
json_ = X_train.iloc[0:2,:].to_json(orient='split');

In [350]:
X_train.iloc[4002,:].to_json(orient='records')

'[0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0]'

In [343]:
X_train.columns

Index(['EmployeeIndex_A', 'EmployeeIndex_B', 'EmployeeIndex_F',
       'EmployeeIndex_N', 'CustCountry_AD', 'CustCountry_AE', 'CustCountry_AR',
       'CustCountry_AT', 'CustCountry_AU', 'CustCountry_BE',
       ...
       'Pensions', 'Loans', 'Taxes', 'CreditCard', 'Securities', 'HomeAcct',
       'Payroll', 'Pensions.1', 'DirectDebit', 'NumberProducts'],
      dtype='object', length=347)

In [322]:
lr_model.coef_

array([[-0.6361544 ,  0.40458179,  0.42114036, ...,  0.17667964,
         1.57529646,  0.29451971],
       [-0.0180976 , -0.41859437, -0.06824429, ...,  0.2578217 ,
        -0.96594645,  0.02618084],
       [ 0.38683358, -0.16496765, -0.45616972, ...,  0.0269074 ,
        -0.52041736, -0.36147978],
       [-0.05841789, -0.02055923, -0.00931566, ..., -1.65626129,
        -0.05646579, -0.62396608]])

In [323]:
l = list(zip(X_train.columns,lr_model.coef_))
l

[('EmployeeIndex_A',
  array([ -6.36154403e-01,   4.04581794e-01,   4.21140364e-01,
          -1.83836861e-01,   9.48807320e-02,   4.58547061e-01,
           3.64228261e-01,  -2.29684394e-01,  -1.43890599e-01,
           6.14000746e-01,  -2.32469180e-02,   3.20703381e-01,
           5.44366462e-01,  -3.36599898e-01,  -1.89246340e-01,
          -4.75750130e-01,   1.90891237e-01,  -4.40338710e-02,
          -2.18087749e-01,   9.90044013e-01,  -1.97423129e-01,
          -2.85970829e-01,   7.85303308e-01,   3.92637462e-02,
          -3.30877987e-01,   0.00000000e+00,  -6.84508895e-02,
          -4.72820528e-01,   2.02983383e-02,  -5.65310618e-02,
           3.13938046e-01,  -3.52060326e-01,   5.81895879e-01,
          -2.12026749e-02,   0.00000000e+00,  -7.69481869e-02,
          -1.95003362e-01,   0.00000000e+00,  -7.09162654e-01,
          -6.17631455e-01,  -2.25454006e-01,  -2.27752669e-01,
           1.85199343e-01,  -9.86773623e-03,   1.55986307e-02,
          -1.18483980e-01,   1.24214874e-01,  -2.58878867e+00,
           2.59451956e+00,   1.82359872e-01,  -2.27303770e-01,
           6.43505446e-01,  -8.96354339e-01,   3.22713195e-01,
           2.07868776e-01,  -8.26453818e-01,   6.43505446e-01,
           2.91701723e-01,  -2.85970829e-01,   7.85547744e-02,
          -7.28238799e-02,   2.53355278e-01,   5.76680453e-01,
          -3.77438865e-01,   1.43077341e-01,   8.77656672e-02,
          -3.58537897e-01,   3.97873916e-01,  -1.36396189e-01,
           6.30812105e-03,  -2.02686758e-01,   6.08439073e-01,
          -3.99484496e-01,  -8.77887480e-02,  -4.39388511e-01,
           3.36240673e-01,  -3.76261782e-01,   8.10220291e-03,
           3.24854175e-01,  -5.16230147e-01,  -1.01486674e-01,
          -2.93176215e-02,  -1.45712317e-02,   0.00000000e+00,
           2.74086486e-01,  -1.68735059e-01,  -4.18904033e-02,
          -2.88498594e-02,  -3.86239816e-01,  -1.30458230e-02,
           6.14592150e-01,   0.00000000e+00,  -1.50358094e-01,
          -2.74030241e-01,  -4.80345292e-01,   1.36385645e+00,
           1.52036449e-01,   0.00000000e+00,   1.85973164e-01,
           0.00000000e+00,  -1.19356182e-01,   2.34702092e-03,
          -3.57380845e-01,  -1.02690908e+00,   7.01560126e-01,
           4.00158951e-01,   0.00000000e+00,   2.09021770e-01,
          -3.80617619e-01,   1.48733465e-01,   0.00000000e+00,
          -4.89996490e-02,  -1.49711630e-01,   7.39658236e-01,
          -6.18027799e-02,   0.00000000e+00,   5.52395643e-01,
           4.83835582e-01,   0.00000000e+00,   6.80453332e-01,
           2.88725999e-01,   6.86621331e-01,  -3.66745461e-01,
          -7.20121436e-02,   2.50345504e-01,   4.74193698e-01,
           4.90496606e-01,  -2.46830954e-02,   3.43031342e-01,
          -4.44116040e-02,   1.32014366e+00,  -1.50544796e-01,
           3.73978594e-01,  -1.64890949e-02,  -1.64890949e-02,
          -4.15258888e-01,  -1.21203030e-02,   2.48584153e-01,
          -9.80103209e-02,  -8.00923195e-02,   3.48500508e-01,
           5.99377501e-01,   1.25816483e-01,  -1.41645412e-01,
           0.00000000e+00,  -4.67260884e-01,   0.00000000e+00,
          -8.01077976e-02,  -3.51677802e-01,   1.88163912e-01,
          -8.47535715e-02,   0.00000000e+00,  -5.76208828e-03,
          -7.88098628e-01,   2.60214713e-01,  -3.58965813e-01,
          -7.18142451e-02,   0.00000000e+00,   5.10953358e-03,
           4.87787259e-01,  -2.30423595e-01,  -4.70316107e-02,
           1.22901093e-01,  -2.60791782e-01,  -4.35868054e-02,
          -1.25840271e-01,   0.00000000e+00,  -5.09706928e-01,
           0.00000000e+00,  -7.44935858e-02,  -1.04279955e+00,
          -1.81162412e-01,  -8.47697120e-02,   1.71000208e-01,
           4.63827107e-01,  -1.35717862e-02,   1.18187806e-01,
          -5.82305164e-01,  -9.10454109e-01,  -1.13092255e-01,
          -5.06574588e-02,  -3.94148378e-01,   2.02194102e-01,
          -5.54692431e-01,   5.60423325e-01,  -1.01259104e-01,
          -7.86430234e-02,   8.99296421e-02,  -1.46151297e-01,
          -1.51564044e-01,  -4.69025917e-02,  -7.09426030e-02,
          -3.77187652e-02,   3.54371257e-02,  -1.37089236e-01,
           1.71522363e-01,   1.57087120e-02,   1.32055550e-01,
           2.60609089e-02,  -1.25376667e-01,  -2.31103262e-02,
          -5.48387281e-02,   1.77047586e-01,   8.89904453e-02,
          -2.04831749e-01,   7.66723693e-02,   2.24910491e-01,
          -2.41021411e-02,   1.46543476e-01,   2.36459548e-03,
           1.53038648e-01,  -1.63985415e-01,   2.84400235e-02,
           5.35223531e-02,  -5.69012637e-02,   1.40509377e-01,
           1.52093218e-01,  -1.00268485e-01,  -1.37636207e-01,
           8.30209318e-02,   1.08857359e-01,   8.58516619e-02,
           4.60862225e-02,   4.09436984e-02,   1.07766594e-01,
           2.31273186e-02,  -7.84278852e-02,  -9.35958627e-02,
          -3.46030028e-01,   8.94411204e-02,   8.80472004e-02,
           1.82816230e-01,   2.16322873e-01,   1.94883435e-02,
           5.24766443e-03,  -9.92675506e-01,   7.42159963e-02,
          -1.01259104e-01,  -7.86430234e-02,   8.99296421e-02,
          -1.46151297e-01,  -1.00268485e-01,  -1.51564044e-01,
          -4.69025917e-02,  -7.09426030e-02,  -3.77187652e-02,
           2.16322873e-01,   3.54371257e-02,  -1.37089236e-01,
           1.71522363e-01,   4.09436984e-02,   1.57087120e-02,
          -9.92675506e-01,   1.32055550e-01,   2.60609089e-02,
          -1.25376667e-01,  -2.31103262e-02,  -2.04831749e-01,
          -5.48387281e-02,   1.77047586e-01,   8.89904453e-02,
           7.66723693e-02,   2.24910491e-01,  -2.41021411e-02,
           1.46543476e-01,   2.36459548e-03,  -1.63985415e-01,
           2.84400235e-02,   5.35223531e-02,   7.42159963e-02,
          -5.69012637e-02,   1.40509377e-01,   1.52093218e-01,
          -1.37636207e-01,   8.30209318e-02,   1.08857359e-01,
           1.53038648e-01,   8.58516619e-02,   4.60862225e-02,
           1.07766594e-01,   2.31273186e-02,  -7.84278852e-02,
          -9.35958627e-02,  -3.46030028e-01,   8.94411204e-02,
           8.80472004e-02,   1.82816230e-01,   1.94883435e-02,
           5.24766443e-03,  -3.07918455e-01,   3.13649349e-01,
           5.66610783e-01,   6.91770795e-01,   5.10725074e-01,
          -3.35527394e-01,   1.71348815e-01,   4.46388319e-02,
          -1.10708152e-02,  -6.51851101e-02,   1.31947849e-01,
           7.43678850e-02,  -4.78916678e-03,   4.86167197e-01,
           2.36718840e-01,   5.15348827e-02,   6.28706872e-02,
           1.36402313e-01,   2.85665714e-02,  -6.36250584e-02,
          -2.86848901e-01,  -2.85356983e-01,  -3.60698655e-01,
          -5.39782698e-01,   1.03741772e-01,  -1.30182269e-01,
          -4.35180304e-02,   1.98264636e-02,  -6.23789239e-02,
          -2.13529559e-01,  -1.49870069e-01,  -4.63270612e-01,
           5.73089449e-03,  -2.61097245e-01,  -4.82549227e-01,
           4.66319783e-01,  -6.00835557e-03,  -3.92294996e-01,
           1.54017129e-01,  -8.81892122e-02,  -7.92953764e-02,
          -4.62657460e-01,   1.82412160e+00,  -2.62458245e-01,
           3.99888772e-01,  -3.86920821e-01,  -2.43117212e-01,
          -1.12310299e+00,  -7.17425679e-01,  -1.35576564e-02,
          -7.65523515e-01,   1.07600446e+00,  -1.22180796e-01,
          -4.45094696e-01,   4.73665356e-01,   1.76679638e-01,
           1.57529646e+00,   2.94519715e-01])),
 ('EmployeeIndex_B',
  array([ -1.80975966e-02,  -4.18594373e-01,  -6.82442889e-02,
           2.62710523e-01,  -1.42906250e-01,  -2.72471675e-01,
          -2.54353445e-01,   3.42248386e-01,  -3.72711080e-01,
          -3.99791637e-01,   4.99940063e-02,  -1.72729609e-01,
          -3.94999027e-01,  -2.09065843e-02,  -4.04372757e-01,
           6.88426237e-01,   2.83257766e-01,   6.35900472e-02,
           4.28324956e-01,  -7.42886201e-01,   4.42596517e-01,
          -2.84254288e-02,  -6.30950554e-01,   6.94042175e-01,
          -3.40131480e-01,   0.00000000e+00,   1.94059227e-01,
           5.31126638e-01,   4.20210013e-01,   2.04126214e-01,
          -2.65943238e-01,   7.11658021e-01,  -8.97758785e-01,
           6.93276037e-02,   0.00000000e+00,   1.72978489e-01,
          -2.34808780e-01,   0.00000000e+00,   6.92549610e-01,
          -4.60683782e-01,   3.55628243e-01,  -4.73552817e-01,
          -7.59867556e-02,  -8.52478811e-02,  -1.56977854e-01,
           2.52781505e-01,  -4.95007241e-01,   2.14989973e+00,
          -2.39212546e+00,   3.64306918e-01,  -1.35523063e+00,
          -3.21853167e-01,   6.73900339e-01,   1.92414484e-01,
          -7.54749067e-01,   6.30140180e-01,  -3.21853167e-01,
          -2.13800307e-01,  -2.84254288e-02,  -1.60449121e-01,
          -8.17766149e-02,  -1.57658091e-01,   8.13206606e-02,
           3.23821393e-01,   4.45502104e-02,  -9.47705939e-02,
           1.20529777e-01,  -6.95626535e-01,  -9.75185193e-02,
           3.44129510e-01,  -9.76356707e-02,  -5.25259177e-01,
          -1.59449960e-01,  -2.03853974e-01,   1.35459426e-01,
           4.91403571e-01,  -1.25852871e-01,   1.14339861e-01,
          -7.37441980e-01,   1.03384253e-02,   3.04835688e-01,
          -2.60783773e-02,  -6.03114563e-02,   0.00000000e+00,
          -3.80807669e-01,   9.68833016e-02,   2.53678010e-01,
           5.68359213e-02,   6.78427253e-01,   8.03774859e-02,
          -5.34216341e-01,   0.00000000e+00,   5.75415615e-01,
          -2.53154928e-01,   5.84274104e-01,  -9.45194373e-01,
          -6.49495441e-01,   0.00000000e+00,  -5.20918507e-01,
           0.00000000e+00,   2.53129365e-01,   2.55304376e-01,
          -4.48969104e-01,  -2.98830649e-01,  -3.01651371e-01,
          -4.09269576e-01,   0.00000000e+00,   1.44781174e-01,
           2.06399978e-01,   1.27616189e-01,   0.00000000e+00,
           1.19789375e-01,  -4.25187507e-01,  -3.54523074e-03,
           1.56897158e-01,   0.00000000e+00,  -6.77886276e-01,
          -3.04414033e-01,   0.00000000e+00,  -4.34410824e-01,
          -1.67164504e-01,  -2.31455743e-01,  -2.92890856e-01,
          -7.11504925e-02,  -1.17038905e-01,  -2.04154855e-02,
           3.55581345e-02,   4.64601433e-02,  -1.24566903e-01,
          -5.43611851e-01,  -5.57430626e-01,   4.35485278e-01,
          -2.13038565e-01,   3.24505921e-02,   3.24505921e-02,
           5.73595260e-01,   5.87039053e-02,   1.09486479e-01,
           3.03525514e-01,   3.94930478e-01,   1.20008534e-01,
          -3.50400563e-01,   3.55820885e-01,  -4.70298653e-01,
           0.00000000e+00,   2.65182057e-01,   0.00000000e+00,
           4.25403665e-01,   6.64489489e-01,  -5.05552441e-01,
           1.12585743e-01,   0.00000000e+00,  -1.56780057e-01,
          -4.96055912e-02,  -1.46869195e-01,   2.33496919e-01,
           2.14879938e-01,   0.00000000e+00,  -1.82841235e-01,
          -1.04838438e-01,  -7.52085723e-02,   1.36831525e-01,
          -3.89108171e-01,   6.44077014e-01,   3.86478925e-01,
           2.48474515e-01,   0.00000000e+00,   3.13398273e-01,
           0.00000000e+00,  -1.50319893e-01,  -1.88881600e-01,
          -1.31522398e-03,   4.58387765e-01,   3.09579662e-01,
          -5.68934002e-02,  -2.74195234e-02,  -3.49770818e-01,
          -1.62835865e-01,  -6.61484304e-02,  -1.36620929e+00,
           1.12098927e-01,   1.43866901e+00,  -5.81934119e-01,
          -1.49569905e-01,  -9.26558309e-02,   2.30408540e-03,
           2.44394922e-01,  -1.12988188e-01,   4.31933256e-02,
           5.03250505e-03,   8.58228364e-02,  -1.03041785e-02,
           5.78236587e-02,  -2.91945390e-02,   1.80970360e-01,
          -2.20832858e-02,   3.68892910e-02,  -7.64678918e-02,
          -4.59383776e-03,  -5.24815447e-02,  -8.79690613e-02,
           3.89865488e-02,  -1.75623744e-01,  -1.36753388e-01,
           1.83592129e-01,  -1.04166331e-01,   7.21092402e-02,
          -2.02390520e-01,   8.04464702e-02,   1.69819805e-04,
           1.06087173e-01,  -5.73407159e-04,  -5.62975128e-02,
          -7.60971840e-02,   3.82115602e-02,   2.49602672e-01,
          -2.56269999e-02,   4.73689190e-02,  -1.29324748e-01,
          -2.49219205e-02,  -1.51632027e-01,  -1.75088321e-01,
          -9.29507648e-02,  -1.22675920e-03,  -1.34369383e-01,
          -3.59417045e-02,  -8.49771088e-02,   1.25936217e-01,
           4.23008501e-01,   2.15755766e-02,  -5.46415236e-02,
          -6.49375864e-02,   2.48189243e-02,  -4.23337161e-01,
           6.92595594e-02,   5.65928275e-01,  -1.84997377e-01,
           2.30408540e-03,   2.44394922e-01,  -1.12988188e-01,
           4.31933256e-02,   4.73689190e-02,   5.03250505e-03,
           8.58228364e-02,  -1.03041785e-02,   5.78236587e-02,
           2.48189243e-02,  -2.91945390e-02,   1.80970360e-01,
          -2.20832858e-02,  -1.22675920e-03,   3.68892910e-02,
           5.65928275e-01,  -7.64678918e-02,  -4.59383776e-03,
          -5.24815447e-02,  -8.79690613e-02,   1.83592129e-01,
           3.89865488e-02,  -1.75623744e-01,  -1.36753388e-01,
          -1.04166331e-01,   7.21092402e-02,  -2.02390520e-01,
           8.04464702e-02,   1.69819805e-04,  -5.73407159e-04,
          -5.62975128e-02,  -7.60971840e-02,  -1.84997377e-01,
           3.82115602e-02,   2.49602672e-01,  -2.56269999e-02,
          -1.29324748e-01,  -2.49219205e-02,  -1.51632027e-01,
           1.06087173e-01,  -1.75088321e-01,  -9.29507648e-02,
          -1.34369383e-01,  -3.59417045e-02,  -8.49771088e-02,
           1.25936217e-01,   4.23008501e-01,   2.15755766e-02,
          -5.46415236e-02,  -6.49375864e-02,  -4.23337161e-01,
           6.92595594e-02,   5.68925050e-01,  -8.11150785e-01,
          -6.57478211e-01,  -6.09836888e-01,  -6.50078968e-01,
          -3.92043680e-02,  -1.41507907e-01,  -2.78055225e-01,
          -1.94328293e-01,  -1.03536857e-01,  -2.66017931e-02,
           1.53016977e-01,   3.87991730e-01,  -2.37774605e-01,
          -3.06933151e-01,  -1.63215215e-01,  -1.48977468e-01,
          -2.31228742e-02,   2.18270202e-01,   6.16178881e-02,
           9.16924830e-02,   2.46787794e-01,   1.94292104e-02,
           3.87971541e-01,  -6.53340592e-02,   2.61304959e-02,
           2.99694462e-02,   3.67098774e-02,   7.27512717e-02,
           1.88119001e-01,   3.15888136e-01,   2.02671705e-02,
          -2.42225735e-01,  -7.38991392e-02,   7.39909081e-01,
           2.02414298e-01,  -5.61659036e-01,  -4.74506593e-01,
           2.20071760e+00,  -1.57334500e-02,   4.66154089e-02,
          -5.40723658e-02,  -6.13840808e-01,  -1.20177410e-01,
          -4.20454126e-01,  -1.04324542e-01,  -1.43795665e-01,
           6.97222057e-01,   2.71357646e-01,   7.17612123e-01,
          -1.90993596e-01,  -7.72102277e-01,  -2.46996226e-01,
           6.42575446e-02,  -4.13244935e-01,   2.57821700e-01,
          -9.65946453e-01,   2.61808391e-02])),
 ('EmployeeIndex_F',
  array([  3.86833580e-01,  -1.64967653e-01,  -4.56169724e-01,
          -1.84906356e-01,  -4.28916294e-02,  -1.86561276e-01,
          -2.82664247e-01,  -1.37606909e-01,   5.32167634e-01,
          -3.54752172e-01,  -2.25409664e-02,  -1.38612423e-01,
          -1.48400013e-01,   3.96982008e-01,   6.44368980e-01,
          -2.00357374e-01,  -4.37968844e-01,  -2.01528620e-02,
          -1.89129367e-01,  -4.05048385e-01,  -2.23369851e-01,
           8.31536211e-02,  -7.70286663e-02,  -8.51923019e-01,
           6.76222098e-01,   0.00000000e+00,  -8.79625379e-02,
          -2.33837413e-01,  -5.05329042e-01,  -1.08605823e-01,
          -9.38016283e-02,  -3.66103087e-01,   4.93182796e-01,
          -3.66548388e-02,   0.00000000e+00,  -7.84186730e-02,
           4.79480881e-01,   0.00000000e+00,  -5.85151387e-02,
           1.11780152e+00,  -1.45364164e-01,   7.32392345e-01,
          -1.41361690e-01,  -2.32824667e-01,  -1.86385486e-01,
          -4.90737569e-01,   7.15274156e-02,   5.22018026e-01,
          -9.41228179e-01,  -5.37423845e-01,   1.26749065e+00,
          -2.70206628e-01,   1.38711841e-02,  -6.75101262e-01,
           6.74445613e-01,  -6.05608886e-01,  -2.70206628e-01,
          -5.02363774e-01,   8.31536211e-02,  -2.18310201e-01,
          -2.00899952e-01,  -1.44870458e-01,  -5.60269484e-01,
           6.65135278e-02,  -3.45236334e-02,   5.60153877e-02,
           1.42646490e-01,   5.26955939e-02,   3.35684889e-01,
          -2.49905815e-01,   3.46770051e-01,   2.16798839e-02,
           5.16919523e-01,   4.91901121e-01,   2.71955432e-01,
          -7.68172768e-01,   5.55543113e-01,  -3.13915162e-02,
           3.30755030e-01,   4.81142279e-01,  -1.36327836e-01,
           4.34836508e-02,   1.45582951e-01,   0.00000000e+00,
           2.38360315e-01,   9.63164166e-02,  -1.80740835e-01,
          -2.72244653e-02,  -2.78623887e-01,  -6.57711308e-02,
           1.22125878e-01,   0.00000000e+00,  -3.08356611e-01,
           6.22080229e-01,  -5.66443730e-01,  -3.10258351e-01,
           5.07202973e-01,   0.00000000e+00,   3.24654363e-01,
           0.00000000e+00,  -1.57709457e-01,  -1.97371326e-01,
           7.41756996e-01,   1.13819355e+00,  -2.52276934e-01,
           1.31912172e-01,   0.00000000e+00,  -3.14356684e-01,
           1.65090464e-01,  -3.98724341e-01,   0.00000000e+00,
          -7.73874985e-02,   5.58468841e-01,  -6.29969564e-01,
          -1.11591473e-01,   0.00000000e+00,  -1.31281993e-02,
          -1.86384719e-01,   0.00000000e+00,  -2.16747046e-01,
          -1.06219688e-01,  -3.31712818e-01,   7.32707883e-01,
           1.46868233e-01,  -1.72142666e-01,  -3.70931174e-01,
          -4.06516628e-01,  -2.00213806e-02,  -2.23222486e-01,
           6.05573674e-01,  -6.37804363e-01,  -2.99403923e-01,
          -1.52929366e-01,  -1.99882670e-02,  -1.99882670e-02,
          -1.28667289e-01,  -5.15400613e-02,  -3.40608222e-01,
          -2.18728029e-01,  -3.14698192e-01,  -5.48944765e-01,
          -2.85221913e-01,  -4.70255567e-01,   6.00780625e-01,
           0.00000000e+00,  -5.77306928e-01,   0.00000000e+00,
          -3.39432401e-01,  -5.86557354e-01,   3.66952846e-01,
           5.50757351e-02,   0.00000000e+00,   2.40243664e-01,
           7.15177424e-01,  -7.22198175e-03,   9.07084483e-02,
          -1.42765197e-01,   0.00000000e+00,   2.75722029e-01,
          -2.93636284e-01,   2.21775463e-01,  -8.98545482e-02,
           3.52913680e-01,  -4.16549896e-01,  -3.01956824e-01,
          -1.45418564e-01,   0.00000000e+00,   2.67209939e-02,
           0.00000000e+00,   2.89849064e-01,   1.20137982e+00,
           3.02838115e-01,  -3.19608032e-01,  -3.85655137e-01,
          -1.55471950e-01,   8.11305981e-02,   7.44698320e-02,
           5.86904577e-01,   7.72837079e-01,   1.03189420e+00,
          -3.45143455e-02,  -1.18536353e+00,   3.75815543e-01,
           5.31510903e-01,  -9.50721056e-01,   5.71259511e-02,
          -2.47484617e-01,   3.69882038e-02,   6.83256034e-02,
           1.42717212e-01,  -5.90583574e-02,   9.00824801e-02,
          -3.99759921e-02,   1.13800775e-02,  -1.12880932e-01,
          -1.59689663e-01,  -3.31955278e-02,  -2.64952323e-02,
           2.77350872e-02,   1.57087275e-01,   1.04108872e-01,
           1.72439021e-02,   3.76388757e-02,   6.84299471e-02,
           1.57742622e-02,   3.73619352e-02,  -2.77994167e-01,
           2.18808219e-01,  -2.12275387e-01,   2.85787400e-02,
          -2.74253382e-01,   1.27867604e-01,   3.96965531e-02,
           1.16596760e-02,  -1.72256613e-02,  -4.12865965e-01,
          -9.09524397e-02,  -1.63661265e-02,   2.45703627e-01,
          -2.90279504e-02,   8.13346235e-02,   1.26095747e-01,
           8.42614563e-02,  -3.92191932e-02,   2.73661781e-02,
           2.38764839e-02,   1.54009474e-01,  -3.99150687e-02,
          -1.90884117e-01,  -9.64060923e-02,  -2.67937708e-02,
          -1.01712995e-01,  -1.87593029e-01,   4.92678823e-01,
          -8.61382162e-02,   1.70191373e-01,   1.57429242e-01,
           5.71259511e-02,  -2.47484617e-01,   3.69882038e-02,
           6.83256034e-02,  -1.63661265e-02,   1.42717212e-01,
          -5.90583574e-02,   9.00824801e-02,  -3.99759921e-02,
          -1.87593029e-01,   1.13800775e-02,  -1.12880932e-01,
          -1.59689663e-01,  -3.92191932e-02,  -3.31955278e-02,

In [324]:
from sklearn.ensemble import GradientBoostingRegressor

gbmodel = GradientBoostingRegressor(n_estimators=500, learning_rate=.05, max_depth=4, subsample = .9)

gbmodel.fit(X_train, y_train)

y_pred_gb = gbmodel.predict(X_test)

In [325]:
gbmodel.score(X_test,y_test)

0.22594679714738308

In [327]:
from sklearn import tree

# Set some parameters
dtrmodel = tree.DecisionTreeRegressor(min_samples_split=10, max_depth=4)
#dtrmodel = tree.DecisionTreeRegressor(min_samples_split=10, max_depth=6, min_samples_leaf=8)

# Fit the model to some training data
dtrmodel.fit(X_train,y_train)


dtrmodel.tree_

tree.export_graphviz(dtrmodel, out_file='tree.dot',feature_names = X_train.columns)

# !head tree.dot

In [328]:
dtrmodel.score(X_test,y_test)

0.16047603125495002

In [329]:
dtr_test_pred = dtrmodel.predict(X_test)
#Plot actual vs predicted
plt.scatter(y_test, dtr_test_pred,alpha=.6)
plt.plot() #np.linspace(0,600000,1000),np.linspace(0,600000,1000))

[]

In [334]:
from sklearn.ensemble import RandomForestRegressor

rfmodel=RandomForestRegressor(n_estimators = 500, min_samples_leaf=1,  n_jobs=-1, max_features=4) #Your parameters inside the parentheses
rfmodel.fit(X_train,y_train)

rf_test_pred = rfmodel.predict(X_test)

rfmodel.score(X_test,y_test)

0.15011310244114662

In [333]:
from sklearn.model_selection import GridSearchCV
from sklearn import linear_model,ensemble, tree, model_selection

parameters = {'max_depth':[4,5,6],
              'n_estimators':[100, 250, 500]}

model = ensemble.GradientBoostingRegressor()
grid_search = GridSearchCV(model, parameters, n_jobs=-2, verbose=1)
grid_search.fit(X_train,y_train)

from sklearn import pipeline, manifold, preprocessing, feature_selection, decomposition

steps = [
# ('features', preprocessing.PolynomialFeatures(degree=2)),
('model',ensemble.RandomForestRegressor())]

regression_pipeline = pipeline.Pipeline(steps)
regression_pipeline.fit(X_train,y_train)
regression_pipeline.score(X_test,y_test)

Fitting 3 folds for each of 9 candidates, totalling 27 fits

[Parallel(n_jobs=-2)]: Done  27 out of  27 | elapsed: 10.8min finished

0.086577867444760259

In [332]:
# from sklearn.model_selection import GridSearchCV
# from sklearn import linear_model,ensemble, tree, model_selection

# parameters = {'max_depth':[5,6],
#               'learning_rate':np.arange(.01,.1,.01),
#               'n_estimators':[500]}

# model = ensemble.GradientBoostingRegressor()
# grid_search = GridSearchCV(model, parameters, n_jobs=-2, verbose=1)
# grid_search.fit(X_train,y_train)

# from sklearn import pipeline, manifold, preprocessing, feature_selection, decomposition

# steps = [
# ('features', preprocessing.PolynomialFeatures(degree=2)),
# ('feature_selection', feature_selection.SelectFromModel(linear_model.Lasso(alpha = .2))),
# ('model',ensemble.GradientBoostingRegressor())]

# gbr_regression_pipeline = pipeline.Pipeline(steps)
# gbr_regression_pipeline.fit(X_train,y_train)
# gbr_regression_pipeline.score(X_test,y_test)

In [ ]:
gbr_test_pred = gbr_regression_pipeline.predict(X_test)

In [345]:
# from sklearn import svm

# svm_model = svm()

# svm_model.fit(X_train, y_train)


# test_set_pred = svm_model.predict(X_test)

# svm_model.score(X_test,y_test)