In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import dateutil.parser

In [3]:
week = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_161029.txt')

In [4]:
week.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456,BMT,10/22/2016,00:00:00,REGULAR,5880917,1993253
1,A002,R051,02-00-00,59 ST,NQR456,BMT,10/22/2016,04:00:00,REGULAR,5880955,1993258
2,A002,R051,02-00-00,59 ST,NQR456,BMT,10/22/2016,08:00:00,REGULAR,5880983,1993287
3,A002,R051,02-00-00,59 ST,NQR456,BMT,10/22/2016,12:00:00,REGULAR,5881118,1993394
4,A002,R051,02-00-00,59 ST,NQR456,BMT,10/22/2016,16:00:00,REGULAR,5881414,1993487

In [6]:
week.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [7]:
dateutil.parser.parse('10/22/2016' + ' 00:00:00')

datetime.datetime(2016, 10, 22, 0, 0)

In [35]:
week['DATETIME'] =  week['DATE'] + ' ' + week['TIME']
week.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATETIME,DATETIME_
0,A002,R051,02-00-00,59 ST,NQR456,BMT,10/22/2016,00:00:00,REGULAR,5880917,1993253,10/22/2016 00:00:00,2016-10-22 00:00:00
1,A002,R051,02-00-00,59 ST,NQR456,BMT,10/22/2016,04:00:00,REGULAR,5880955,1993258,10/22/2016 04:00:00,2016-10-22 04:00:00
2,A002,R051,02-00-00,59 ST,NQR456,BMT,10/22/2016,08:00:00,REGULAR,5880983,1993287,10/22/2016 08:00:00,2016-10-22 08:00:00
3,A002,R051,02-00-00,59 ST,NQR456,BMT,10/22/2016,12:00:00,REGULAR,5881118,1993394,10/22/2016 12:00:00,2016-10-22 12:00:00
4,A002,R051,02-00-00,59 ST,NQR456,BMT,10/22/2016,16:00:00,REGULAR,5881414,1993487,10/22/2016 16:00:00,2016-10-22 16:00:00

In [36]:
def param_to_obj(f, x):
    return x.f()

In [37]:
week['DATETIME_'] = week['DATETIME'].apply(param_to_obj(to_pydatetime))
week.head()

NameError: name 'to_pydatetime' is not defined

In [32]:
week['DATETIME_'][0].to_pydatetime()

datetime.datetime(2016, 10, 22, 0, 0)

In [21]:
type('2016-10-22 00:00:00')

str

In [22]:
x = '2016-10-22 00:00:00'

str